In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import os, random, re, shutil, subprocess, sys, time

from matplotlib.pyplot import figure

from platform import python_version

print(python_version())

from scipy import stats

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

#mac
util_path = "/Users/kimd999/Dropbox/script/python/srpAnalytics/code/latest/util"
sys.path.insert(0, util_path)

# I assume that these two lines will automatically reload updated modules of mine
# (therefore, I don't need to restart kernel after editing importing modules)
%load_ext autoreload
%autoreload 2

3.7.8

In [2]:
starting_dir = os.getcwd()
print (starting_dir)

/Users/kimd999/Dropbox/script/python/srpAnalytics/code/latest/1_tall2wide/1_before_tall2wide

In [3]:
complete_file_path = '/Users/kimd999/research/projects/Katrina/per_each_data/extracts/input/old_before_removing_3053_chemical/tall/ZF_120_SRP_Sample_Extracts_with_Dilution_Factors_2021MAY21.csv'

df_all = pd.read_csv(complete_file_path, header = 0)
df_all.head()

   chemical.id bottle.id  conc  plate.id well      date endpoint  value
0          101    C51699   0.0     10021  A06  20151113     MO24    0.0
1          101    C51699   0.0     10021  B06  20151113     MO24    0.0
2          101    C51699   0.0     10021  C06  20151113     MO24    0.0
3          101    C51699   0.0     10021  D06  20151113     MO24    1.0
4          101    C51699   0.0     10021  E06  20151113     MO24    0.0

In [5]:
np.unique(df_all['chemical.id'])

array([ 101,  102,  103,  131,  132,  177,  452,  495,  669,  719,  723,
        744,  797,  798,  799,  800,  839,  858,  889,  890,  891, 1004,
       1008, 1009, 1035, 1036, 1037, 1038, 1426, 1427, 1428, 1429, 1431,
       1432, 1456, 1458, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521,
       1864, 2066, 2071, 2072, 2235, 2236, 2791, 2792, 2793, 2794, 2795,
       2796, 2797, 2798, 2799, 2800, 2801, 2802, 2803, 2804, 2805, 2806,
       2807, 2808, 2809, 2810, 2917, 2918, 2921, 3053, 3322, 3324, 3325,
       3326, 3328, 3329, 3330, 3331, 3332, 3334])

In [11]:
## leave certain chemical only 
df_selected = df_all.loc[df_all['chemical.id'] != 3053]

display(np.unique(df_selected['chemical.id']))

output_csv_name = complete_file_path[:-4] + "_wo_3053.csv"
df_selected.to_csv(output_csv_name, index=False)

array([ 101,  102,  103,  131,  132,  177,  452,  495,  669,  719,  723,
        744,  797,  798,  799,  800,  839,  858,  889,  890,  891, 1004,
       1008, 1009, 1035, 1036, 1037, 1038, 1426, 1427, 1428, 1429, 1431,
       1432, 1456, 1458, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521,
       1864, 2066, 2071, 2072, 2235, 2236, 2791, 2792, 2793, 2794, 2795,
       2796, 2797, 2798, 2799, 2800, 2801, 2802, 2803, 2804, 2805, 2806,
       2807, 2808, 2809, 2810, 2917, 2918, 2921, 3322, 3324, 3325, 3326,
       3328, 3329, 3330, 3331, 3332, 3334])

In [ ]:
'''plate_id_from_here = np.unique(df_lpr_min_per_1155_chemical_id['plate.id'])
for plate_id in plate_id_from_here:
    print(f"plate_id:{plate_id}\n")

    df_lpr_min_per_1155_chemical_id_plate_id = df_lpr_min_per_1155_chemical_id.loc[df_lpr_min_per_1155_chemical_id['plate.id'] == plate_id]
#        df_lpr_min_per_chemical_id_plate_id_t_only = pd.DataFrame(df_lpr_min_per_chemical_id_plate_id.iloc[:,4:28])

    print(f"df_lpr_min_per_1155_chemical_id_plate_id:{df_lpr_min_per_1155_chemical_id_plate_id}\n")'''