In [4]:
# data: phase III - morpho - full (all endpoints)
# Goal: Reformat data (tall2wide, even when there is duplicate)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, time

In [5]:
starting_dir = os.getcwd()
print ("starting_dir:" + str(starting_dir))

# very original data from Oregon state
complete_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/morpho/original/Tanguay_Phase_3_zf_morphology_data_PNNL_2021MAR23.csv'

morph_all_data = pd.read_csv(complete_file_path, header = 0)
pd.set_option('display.max_columns', None)

starting_dir:/Users/kimd999/research/script_not_in_dropbox/srpAnalytics/code/latest/1_tall2wide/2_tall2wide/latest/phase_III/morphology

In [6]:
display(morph_all_data.head())
display(morph_all_data.tail())

   chemical.id      bottle.id  conc  plate.id well      date endpoint  value
0          234  NTP DNT 91-A1   0.0     14389  H01  20161122     MO24    0.0
1          234  NTP DNT 91-A1   0.0     14389  H02  20161122     MO24    0.0
2          234  NTP DNT 91-A1   0.0     14389  H03  20161122     MO24    0.0
3          234  NTP DNT 91-A1   0.0     14389  H04  20161122     MO24    0.0
4          234  NTP DNT 91-A1   0.0     14389  H05  20161122     MO24    0.0

         chemical.id bottle.id   conc  plate.id well      date endpoint  value
1203527         4375   C926563  100.0     22712  D01  20210226     DNC_    0.0
1203528         4375   C926563  100.0     22712  E01  20210226     DNC_    0.0
1203529         4375   C926563  100.0     22712  F01  20210226     DNC_    0.0
1203530         4375   C926563  100.0     22712  G01  20210226     DNC_    0.0
1203531         4375   C926563  100.0     22712  H01  20210226     DNC_    0.0

In [7]:
display(np.sum(morph_all_data['value'] == 1))
display(np.sum(morph_all_data['value'] == 0))
display(np.sum(np.isnan(morph_all_data['value'])))
display(morph_all_data.shape)

26572

1037188

139772

(1203532, 8)

In [8]:
# Keep only relevant columns
columns_to_keep = ['chemical.id', 'conc', 'bottle.id', 'plate.id', 'well', 'endpoint', 'value'] 
# 'bottle.id' is added since Lisa wants to use it to join with behavioral data

morph_all_data_select = morph_all_data.loc[:,columns_to_keep]
morph_all_data_select.head()

   chemical.id  conc      bottle.id  plate.id well endpoint  value
0          234   0.0  NTP DNT 91-A1     14389  H01     MO24    0.0
1          234   0.0  NTP DNT 91-A1     14389  H02     MO24    0.0
2          234   0.0  NTP DNT 91-A1     14389  H03     MO24    0.0
3          234   0.0  NTP DNT 91-A1     14389  H04     MO24    0.0
4          234   0.0  NTP DNT 91-A1     14389  H05     MO24    0.0

In [11]:
print ("len(morph_all_data_select):                          " + str(len(morph_all_data_select)))
morph_all_data_select = morph_all_data_select.drop_duplicates()
print ("after removing duplicate, len(morph_all_data_select):" + str(len(morph_all_data_select)))

len(morph_all_data_select):                          1203532
after removing duplicate, len(morph_all_data_select):1203532

In [ ]:
start_time = time.time()

reformat_data = pd.DataFrame()
total_number_of_unique_chemicals = 0
total_number_of_chemical_plate_well = 0
for chemical_index in np.unique(morph_all_data['chemical.id']):
    
    total_number_of_unique_chemicals += 1
#    if (chemical_index != 746) and (chemical_index != 1171):
 #       continue
    print("\nchemical_index:" + str(chemical_index))        
    
    morph_data_chemical = morph_all_data_select.loc[morph_all_data['chemical.id'] == chemical_index,:]
    #    print ("\ntotal_number_of_unique_chemicals:" + str(total_number_of_unique_chemicals))

    # Append chemical_plate_well as a unique identifier
    morph_data_chemical.insert(0, 'chemical_plate_well', morph_data_chemical.loc[:,['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1))

    #print ("len(morph_data_chemical.chemical_plate_well):" + str(len(morph_data_chemical.chemical_plate_well)))    
    for cpw in np.unique(morph_data_chemical.chemical_plate_well):
        total_number_of_chemical_plate_well += 1
        temp_df = morph_data_chemical.loc[morph_data_chemical.chemical_plate_well == cpw,:]
        temp_df_grouped = temp_df.groupby(['chemical.id', 'plate.id', 'well'])
        #print ("temp_df_grouped:" + str(temp_df_grouped)) #<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1292f0190>

        for name, group in temp_df_grouped:
#            if(len(group.endpoint) == 23):
                try:
                    temp = pd.DataFrame(
                        {
                        'chemical.id': np.unique(temp_df['chemical.id']),
                        'plate.id': np.unique(temp_df['plate.id']),
                        'well': np.unique(temp_df['well']),
                        'chemical_plate_well': np.unique(temp_df['chemical_plate_well']),
                        'conc': np.unique(temp_df['conc']),
                        'AXIS': temp_df.value[temp_df.endpoint == 'AXIS'].values,
                        'BRAI': temp_df.value[temp_df.endpoint == 'BRAI'].values,
                        'CFIN': temp_df.value[temp_df.endpoint == 'CFIN'].values,
                        'CIRC': temp_df.value[temp_df.endpoint == 'CIRC'].values,
                        'DNC_': temp_df.value[temp_df.endpoint == 'DNC_'].values,
                        'DP24': temp_df.value[temp_df.endpoint == 'DP24'].values,
                        'EYE_': temp_df.value[temp_df.endpoint == 'EYE_'].values,
                        'JAW_': temp_df.value[temp_df.endpoint == 'JAW_'].values,
                        'MO24': temp_df.value[temp_df.endpoint == 'MO24'].values,
                        'MORT': temp_df.value[temp_df.endpoint == 'MORT'].values,
                        'NC24': temp_df.value[temp_df.endpoint == 'NC24'].values,
                        'NC__': temp_df.value[temp_df.endpoint == 'NC__'].values,
                        'OTIC': temp_df.value[temp_df.endpoint == 'OTIC'].values,
                        'PE__': temp_df.value[temp_df.endpoint == 'PE__'].values,
                        'PFIN': temp_df.value[temp_df.endpoint == 'PFIN'].values,
                        'PIG_': temp_df.value[temp_df.endpoint == 'PIG_'].values,
                        'SM24': temp_df.value[temp_df.endpoint == 'SM24'].values,
                        'SNOU': temp_df.value[temp_df.endpoint == 'SNOU'].values,
                        'SOMI': temp_df.value[temp_df.endpoint == 'SOMI'].values,
                        'SWIM': temp_df.value[temp_df.endpoint == 'SWIM'].values,
                        'TRUN': temp_df.value[temp_df.endpoint == 'TRUN'].values,
                        'TR__': temp_df.value[temp_df.endpoint == 'TR__'].values,
                        'YSE_': temp_df.value[temp_df.endpoint == 'YSE_'].values,
                        }
                    )
                    reformat_data = pd.concat([reformat_data, temp])
                except:
                    print ("typical processing didn't work")
                    #print ("len(group.endpoint):" + str(len(group.endpoint)))
                    #print ("chemical_plate_well:" + str(cpw))

                    
print ("\ntotal_number_of_unique_chemicals:" + str(total_number_of_unique_chemicals))
print ("total_number_of_chemical_plate_well:" + str(total_number_of_chemical_plate_well))


######### automatically fix small manual mistakes ##########
reformat_data.loc[(reformat_data['chemical.id'] == 746) \
                & (reformat_data['plate.id'] == 12953) \
                & (reformat_data['well'] == "E03"), 'MORT'] = 0

reformat_data.loc[(reformat_data['chemical.id'] == 1171) \
                & (reformat_data['plate.id'] == 15205) \
                & (reformat_data['well'] == "D02"), 'MORT'] = 0

end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("Done, it took:"+str(time_took)) # took 13 minutes for 344 chemicals

In [39]:
print (reformat_data.head())
print ("reformat_data.shape:" + str(reformat_data.shape))

   chemical.id plate.id well chemical_plate_well  conc  AXIS  BRAI  CFIN  \
0           53     9289  A01         53_9289_A01  50.0   NaN   NaN   NaN
0           53     9289  A02         53_9289_A02  35.6   0.0   0.0   0.0
0           53     9289  A03         53_9289_A03  11.2   0.0   0.0   0.0
0           53     9289  A04         53_9289_A04   5.0   1.0   0.0   0.0
0           53     9289  A05         53_9289_A05   1.0   0.0   0.0   0.0

   CIRC  DNC_  DP24  EYE_  JAW_  MO24  MORT  NC24  NC__  OTIC  PE__  PFIN  \
0   NaN   0.0   0.0   NaN   NaN   0.0   1.0   0.0   NaN   NaN   NaN   NaN
0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0
0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

   PIG_  SM24  SNOU  SOMI  SWIM  TRUN  TR__  YSE_
0   NaN   0.0   NaN   NaN   NaN   NaN   NaN   NaN
0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0
0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
reformat_data.shape:(43648, 28)

In [40]:
reformat_data_DNC_0 = pd.DataFrame()
reformat_data_DNC_0 = reformat_data.loc[reformat_data['DNC_'] == 0.0]
print ("reformat_data_DNC_0.shape:" + str(reformat_data_DNC_0.shape))

reformat_data_DNC_0.shape:(43483, 28)

In [41]:
reformat_data_DNC_empty = pd.DataFrame()
reformat_data_DNC_empty = reformat_data.loc[reformat_data['DNC_'] == '']
print ("reformat_data_DNC_empty.shape:" + str(reformat_data_DNC_empty.shape))

reformat_data_DNC_empty.shape:(0, 28)

In [42]:
#'''
nan_count = 0
zero_count = 0
one_count = 0
total_count = 0
for (columnName, columnData) in reformat_data.iteritems(): 
    if (columnName == "chemical.id") or (columnName == "plate.id") or (columnName == "well") or (columnName == "chemical_plate_well") or (columnName == "conc"):
        continue
#    print('Colunm Name : ', columnName) 
#    print('Column Contents : ', columnData.values[i])
#    print (len(columnData.values))
    for i in range(len(columnData.values)):
        total_count += 1
        if (str(columnData.values[i]) == "nan"):
            nan_count += 1
        elif (str(columnData.values[i]) == "0.0"):
            zero_count += 1
        elif (str(columnData.values[i]) == "1.0"):
            one_count += 1
#        print('Column Contents : ', columnData.values[i])
print ("nan_count:" + str(nan_count))
print ("zero_count:" + str(zero_count))
print ("one_count:" + str(one_count))
print ("total_count:" + str(total_count))
#'''

nan_count:153370
zero_count:822239
one_count:28295
total_count:1003904

In [18]:
#pd.set_option('display.max_columns', None)

In [43]:
#reformat_data.to_csv('344_zf_morphology_data_phase_1_and_2_-_2020JUNE25_wide_DNC_all.csv',index=False)

output_complete_file_path = complete_file_path[:-4] + "_wide_DNC_0.csv"
reformat_data_DNC_0.to_csv(output_complete_file_path,index=False)

#reformat_data_DNC_empty.to_csv('344_zf_morphology_data_phase_1_and_2_-_2020JUNE25_wide_DNC_empty.csv',index=False)

In [20]:
#len(np.unique(reformat_data['chemical.id']))

In [29]:
#display(reformat_data)

In [30]:
#reformat_data.to_csv('Phase_I_II_t0_t239_LPR.csv',index=False)

In [31]:
#len(np.unique(reformat_data['chemical.id']))