In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, sys, time
import argparse
import tarfile
import re

##impor  BMD files from directory
##TODO: combine bMD processing to single file, combine LPR processing to single file
import bmd_analysis_morpho as bmd
import bmd_analysis_LPR_7_PAH_t0_t239 as bmd_LPR
import format_LPR_input as format_LPR
import format_morpho_input as format_morpho

/Users/degn400/Desktop/Git_Repos/srpAnalytics/zfBmd
/Users/degn400/Desktop/Git_Repos/srpAnalytics/zfBmd

# Journey that a single morpho file takes

In [ ]:
mfiles = './test_files/7_PAH_zf_morphology_data_2020NOV11_tall_3756.csv'

morpho_input_csv_file_name_wide = mfiles.split("/")[-1] + "_wide_DNC_0_"+ "fd" + ".csv"

In [ ]:
df_morph = pd.read_csv(mfiles, header = 0)

# Keep onloy relevant columns
columns_to_keep = ['chemical.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']
df_morph_select = df_morph.loc[:,columns_to_keep]

# Convert numerics to strings 
df_morph_select['plate.id'] = df_morph_select['plate.id'].astype(str)

In [ ]:
df_morph = pd.read_csv(mfiles, header = 0)
relevant_columns = ['chemical.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']
all(col in df_morph.columns for col in relevant_columns) == False
print("The input file", mfiles, "must have the columns:", ', '.join(relevant_columns))

In [ ]:
df_morph_select.dtypes

In [ ]:
df_reformatted = pd.DataFrame()

for chemical_index in pd.unique(df_morph['chemical.id']):

    print("chemical_index:" + str(chemical_index))
    #total_number_of_unique_chemicals += 1
    morph_data_chemical = df_morph_select.loc[df_morph['chemical.id'] == chemical_index,:]

    # Append chemical_plate_well as a unique identifier
    morph_data_chemical.insert(0, 'chemical_plate_well', morph_data_chemical.loc[:,['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1))

    for cpw in np.unique(morph_data_chemical.chemical_plate_well):
        #total_number_of_chemical_plate_well += 1
        temp_df = morph_data_chemical.loc[morph_data_chemical.chemical_plate_well == cpw,:]

        temp_df_grouped = temp_df.groupby(['chemical.id', 'plate.id', 'well'])
        for name, group in temp_df_grouped:

            ## JUSTIFICATION: 7 PAH dataset doesn't have "BRAI" endpoint.
            ## On the other hand, extracts/phase I,II have "BRAI" endpoint.
            if 'BRAI' not in temp_df.endpoint.values: # as 7 PAH
                try:
                    #            if(len(group.endpoint) == 14):
                    temp = pd.DataFrame( {
                        'chemical.id': pd.unique(temp_df['chemical.id']),
                        'plate.id': pd.unique(temp_df['plate.id']),
                        'well': pd.unique(temp_df['well']),
                        'chemical_plate_well': pd.unique(temp_df['chemical_plate_well']),
                        'conc': pd.unique(temp_df['conc']),
                        'AXIS': temp_df.value[temp_df.endpoint == 'AXIS'].values,
                        'BRN_': temp_df.value[temp_df.endpoint == 'BRN_'].values,
                        'CRAN': temp_df.value[temp_df.endpoint == 'CRAN'].values,
                        'DNC_': temp_df.value[temp_df.endpoint == 'DNC_'].values,
                        'DP24': temp_df.value[temp_df.endpoint == 'DP24'].values,
                        'EDEM': temp_df.value[temp_df.endpoint == 'EDEM'].values,
                        'LTRK': temp_df.value[temp_df.endpoint == 'LTRK'].values,
                        'MO24': temp_df.value[temp_df.endpoint == 'MO24'].values,
                        'MORT': temp_df.value[temp_df.endpoint == 'MORT'].values,
                        'MUSC': temp_df.value[temp_df.endpoint == 'MUSC'].values,
                        'NC__': temp_df.value[temp_df.endpoint == 'NC__'].values,
                        'SKIN': temp_df.value[temp_df.endpoint == 'SKIN'].values,
                        'SM24': temp_df.value[temp_df.endpoint == 'SM24'].values,
                        'TCHR': temp_df.value[temp_df.endpoint == 'TCHR'].values,
                    }  )
                    df_reformatted = pd.concat([df_reformatted, temp])
                except:
                    print ("len(group.endpoint) != 14")
                    print ("chemical_plate_well:" + str(cpw))
            else: #as extracts
                temp = pd.DataFrame(
                    {
                    'chemical.id': pd.unique(temp_df['chemical.id']),
                    'plate.id': pd.unique(temp_df['plate.id']),
                    'well': pd.unique(temp_df['well']),
                    'chemical_plate_well': pd.unique(temp_df['chemical_plate_well']),
                    'conc': pd.unique(temp_df['conc']),
                    'AXIS': temp_df.value[temp_df.endpoint == 'AXIS'].values,
                    'BRAI': temp_df.value[temp_df.endpoint == 'BRAI'].values,
                    'CFIN': temp_df.value[temp_df.endpoint == 'CFIN'].values,
                    'CIRC': temp_df.value[temp_df.endpoint == 'CIRC'].values,
                    'DNC_': temp_df.value[temp_df.endpoint == 'DNC_'].values,
                    'DP24': temp_df.value[temp_df.endpoint == 'DP24'].values,
                    'EYE_': temp_df.value[temp_df.endpoint == 'EYE_'].values,
                    'JAW_': temp_df.value[temp_df.endpoint == 'JAW_'].values,
                    'MO24': temp_df.value[temp_df.endpoint == 'MO24'].values,
                    'MORT': temp_df.value[temp_df.endpoint == 'MORT'].values,
                    'NC24': temp_df.value[temp_df.endpoint == 'NC24'].values,
                    'NC__': temp_df.value[temp_df.endpoint == 'NC__'].values,
                    'OTIC': temp_df.value[temp_df.endpoint == 'OTIC'].values,
                    'PE__': temp_df.value[temp_df.endpoint == 'PE__'].values,
                    'PFIN': temp_df.value[temp_df.endpoint == 'PFIN'].values,
                    'PIG_': temp_df.value[temp_df.endpoint == 'PIG_'].values,
                    'SM24': temp_df.value[temp_df.endpoint == 'SM24'].values,
                    'SNOU': temp_df.value[temp_df.endpoint == 'SNOU'].values,
                    'SOMI': temp_df.value[temp_df.endpoint == 'SOMI'].values,
                    'SWIM': temp_df.value[temp_df.endpoint == 'SWIM'].values,
                    'TRUN': temp_df.value[temp_df.endpoint == 'TRUN'].values,
                    'TR__': temp_df.value[temp_df.endpoint == 'TR__'].values,
                    'YSE_': temp_df.value[temp_df.endpoint == 'YSE_'].values,
                    })
                df_reformatted = pd.concat([df_reformatted, temp])
#print ("total_number_of_unique_chemicals:" + str(total_number_of_unique_chemicals))
#print ("total_number_of_chemical_plate_well:" + str(total_number_of_chemical_plate_well))
#end_time = time.time()
#time_took = str(round((end_time-start_time), 1)) + " seconds"
#print ("Done, it took:"+str(time_took))

pd.set_option('display.max_columns', None)
print (df_reformatted.head())
#print ("df_reformatted.shape:" + str(df_reformatted.shape)) #(288, 19)

df_reformatted_DNC_0 = pd.DataFrame()

df_reformatted_DNC_0 = df_reformatted.loc[df_reformatted['DNC_'] == 0.0]
print ("df_reformatted_DNC_0.shape:" + str(df_reformatted_DNC_0.shape)) #(287, 19)

df_reformatted_DNC_0.to_csv("./Reformatted.csv", index=False)

In [ ]:
# Pivot long format table wider, and sum up the ones 
pivot_wider = df_morph_select.pivot_table(index = ['chemical.id', 'plate.id', 'well', 'conc'], columns = ['endpoint'], values = ['value'], aggfunc = 'first')

# Convert to a clean pandas dataframe 
pivot_wider = pd.DataFrame(pivot_wider.to_records())

# Clean up the column names 
new_colnames = []

# Fix column names with the extra 'value' annotation. Otherwise, ignore.
for name in pivot_wider.columns:
    if "value" in name:
        new_colnames.append(re.sub("\\(value,|\\)", "", re.sub("'", "", name)).strip())
    else:
        new_colnames.append(name)

# Rename columns
pivot_wider = pivot_wider.set_axis(new_colnames, axis = 1, inplace = False)

In [ ]:
relevant_columns = ['chemical.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']
for x in ['AXIS', 'BRN_', 'CRAN', 'DNC_', 'DP24', 'EDEM', 'LTRK', 'MO24', 'MORT', 'MUSC', 'NC__', 'SKIN','SM24', 'TCHR']:
    relevant_columns.append(x)
relevant_columns

In [ ]:
df_morph.pivot_table(index = ['chemical.id', 'plate.id', 'well', 'conc'], columns = ['endpoint'], 
                                       values = ['value'], aggfunc = 'first')

# Morpho Step 1: Format File

In [60]:
# This is the format_morpho_input function

##############################################
## READ FILE AND SUBSET TO RELEVANT COLUMNS ##
##############################################

# Read morphology file 
df_morph = pd.read_csv('./test_files/7_PAH_zf_morphology_data_2020NOV11_tall_3756.csv', header = 0)

# List relevant column names
relevant_columns = ['chemical.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']

# The input file must absolutely have these columns, no exceptions 
if all(col in df_morph.columns for col in relevant_columns) == False:
    sys.exit(print("The input file", mfiles, "must have the columns:", ', '.join(relevant_columns)))

# Keep only relevant columns
df_morph = df_morph.loc[:,relevant_columns]

###########################################
## CALCULATE VARIABLES FOR DOSE RESPONSE ##
###########################################

# Create groups of each chemical id, concentration, and plate id
plate_groups = df_morph.drop(["well"], 1).groupby(by = ["chemical.id", "conc", "plate.id", "endpoint"], as_index = False)

# Get the number of samples per group
num_tot_samples = plate_groups.size().rename(columns = {"size": "num.tot"})

# Get the number of non-na samples per groups
num_nonna = plate_groups.count().rename(columns = {"value": "num.nonna"})

# Get the number affected
num_affected = plate_groups.sum().rename(columns = {"value": "num.affected"})

# Merge to create missingness dataframe
plate_groups = pd.merge(pd.merge(num_tot_samples, num_nonna), num_affected)

# Create IDs of chemical.id, plate.id, and endpoint in plate_groups 
ids = []
for row in range(len(plate_groups)):
    ids.append(str(plate_groups["chemical.id"][row]) + " " + str(plate_groups["plate.id"][row]) + " " + str(plate_groups["endpoint"][row]))
plate_groups["ids"] = ids

#####################################################################
## REMOVE VARIABLES WITH HIGH MISSINGNESS IN BASELINE MEASUREMENTS ##
#####################################################################

# Identify 0 (baseline) concentrations with high missingness (greater than 50% missing or less than 50% non-missing)
missingness = plate_groups.loc[plate_groups["conc"] == 0]
missingness["keep"] = missingness["num.nonna"] / missingness["num.tot"] > 0.9

# Identify plates to keep 
tokeep = missingness.loc[missingness["keep"]]["ids"].tolist()
plate_groups = plate_groups[plate_groups["ids"].isin(tokeep)]

# Stop if everything gets removed
if len(plate_groups) == 0:
    sys.exit("Everything was removed with the 50% missingness filter")

plate_groups

,chemical.id,conc,plate.id,endpoint,num.tot,num.nonna,num.affected,ids
3,3756,0.0,20544,DNC_,12,12,0.0,3756 20544 DNC_
7,3756,0.0,20544,MO24,12,12,2.0,3756 20544 MO24
17,3756,0.0,20624,DNC_,12,12,0.0,3756 20624 DNC_
21,3756,0.0,20624,MO24,12,12,2.0,3756 20624 MO24
28,3756,0.0,20625,AXIS,12,12,0.0,3756 20625 AXIS
...,...,...,...,...,...,...,...,...
331,3756,100.0,20625,MUSC,12,11,0.0,3756 20625 MUSC
332,3756,100.0,20625,NC__,12,11,0.0,3756 20625 NC__
333,3756,100.0,20625,SKIN,12,11,0.0,3756 20625 SKIN
334,3756,100.0,20625,SM24,12,12,0.0,3756 20625 SM24
335,3756,100.0,20625,TCHR,12,11,0.0,3756 20625 TCHR

In [23]:
kept

    chemical.id  plate.id endpoint
3          3756     20544     DNC_
7          3756     20544     MO24
17         3756     20624     DNC_
21         3756     20624     MO24
28         3756     20625     AXIS
29         3756     20625     BRN_
30         3756     20625     CRAN
31         3756     20625     DNC_
32         3756     20625     DP24
33         3756     20625     EDEM
34         3756     20625     LTRK
35         3756     20625     MO24
36         3756     20625     MORT
37         3756     20625     MUSC
38         3756     20625     NC__
39         3756     20625     SKIN
40         3756     20625     SM24
41         3756     20625     TCHR

In [ ]:
# This is the format_morpho_input function

###################################
## PIVOT WIDER AND CLEAN RESULTS ##
###################################

# Read morphology file 
df_morph = pd.read_csv('./test_files/7_PAH_zf_morphology_data_2020NOV11_tall_3756.csv', header = 0)

# List relevant column names
relevant_columns = ['chemical.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']

# The input file must absolutely have these columns, no exceptions 
if all(col in df_morph.columns for col in relevant_columns) == False:
    sys.exit(print("The input file", mfiles, "must have the columns:", ', '.join(relevant_columns)))

# Keep only relevant columns
df_morph = df_morph.loc[:,relevant_columns]

# Pivot long format table wider, and sum up the ones 
pivot_wider = df_morph.pivot_table(index = ['chemical.id', 'plate.id', 'well', 'conc'], columns = ['endpoint'], 
                                   values = ['value'], aggfunc = 'first')

# Convert to a clean pandas dataframe 
pivot_wider = pd.DataFrame(pivot_wider.to_records())

# Clean up the column names 
new_colnames = []

# Fix column names with the extra 'value' annotation. Otherwise, ignore.
for name in pivot_wider.columns:
    if "value" in name:
        new_colnames.append(re.sub("\\(value,|\\)", "", re.sub("'", "", name)).strip())
    else:
        new_colnames.append(name)

# Rename columns
pivot_wider = pivot_wider.set_axis(new_colnames, axis = 1, inplace = False)

# Get the relevant endpoints, which is different for brain samples 
if "BRAI" in pivot_wider.columns:
    relevant_endpoints = ['AXIS', 'BRAI', 'CFIN', 'CIRC', 'DNC_', 'DP24', 'EYE_', 'JAW_', 'MO24', 
                          'MORT', 'NC24', 'NC__', 'OTIC', 'PE__', 'PFIN', 'PIG_', 'SM24', 'SNOU', 
                          'SOMI', 'SWIM', 'TRUN', 'TR__', 'YSE_']
else:
    relevant_endpoints = ['AXIS', 'BRN_', 'CRAN', 'DNC_', 'DP24', 'EDEM', 'LTRK', 'MO24', 'MORT', 
                          'MUSC', 'NC__', 'SKIN','SM24', 'TCHR']

# Add relevant endpoints to the list of relevant columns, with value and endpints removed
relevant_columns.remove("endpoint")
relevant_columns.remove("value")
for x in relevant_endpoints:
    relevant_columns.append(x)

# Subset by those relevant columns 
pivot_wider = pivot_wider.loc[:,relevant_columns]

###########################
## ADD MISSING ENDPOINTS ##
###########################

# Create an adding function that does not go beyond one --> just take max 
def sum_max_1(subset_df):
    newsum = subset_df.sum(axis=1, skipna = True, min_count = 1)
    newsum[newsum > 1] = 1
    return(newsum)

if 'BRAI' not in pivot_wider.columns: 
    
    # 1. Add any effect at 24hrs (combination of MO24, DP24 and SM24) 
    pivot_wider['ANY24'] = sum_max_1(pivot_wider[['MO24','DP24','SM24']])
    
    # 2. Any effect within 5 days (combination of all measurements at both time points)
    pivot_wider['ANY120'] = sum_max_1(pivot_wider[['AXIS', 'BRN_', 'CRAN', 'EDEM', 'LTRK', 'MORT', 'MUSC', 
                                                   'NC__', 'SKIN', 'TCHR', 'ANY24']])

    # 3. Total mortality (MO24 + MORT) 
    pivot_wider['TOT_MORT'] = sum_max_1(pivot_wider[['MO24','MORT']])

    # 4. Any effect except mortality (#2 minus MO24 and MORT)
    pivot_wider['ALL_BUT_MORT'] = sum_max_1(pivot_wider[['AXIS', 'BRN_', 'CRAN', 'DP24', 'EDEM', 'LTRK', 
                                                         'MUSC', 'NC__', 'SKIN', 'SM24', 'TCHR']])
    
else:
    pivot_wider['ANY24'] = sum_max_1(pivot_wider[['MO24','DP24','SM24','NC24']])
    pivot_wider['ANY120'] = sum_max_1(pivot_wider[['MORT', 'YSE_', 'AXIS', 'EYE_', 'SNOU', 'JAW_', 'OTIC', 
                                   'PE__', 'BRAI', 'SOMI', 'PFIN', 'CFIN', 'PIG_', 'CIRC', 
                                   'TRUN', 'SWIM', 'NC__', 'TR__', 'ANY24']])
    pivot_wider['TOT_MORT'] = sum_max_1([['MO24','MORT']])
    pivot_wider['ALL_BUT_MORT'] = sum_max_1(pivot_wider[['DP24','SM24','NC24', 'YSE_', 'AXIS', 'EYE_', 'SNOU', 'JAW_', 'OTIC', 
                                         'PE__', 'BRAI', 'SOMI', 'PFIN', 'CFIN', 'PIG_', 'CIRC','TRUN', 'SWIM', 'NC__', 
                                         'TR__']])
    pivot_wider['BRN_'] = sum_max_1(pivot_wider[['BRAI','OTIC','PFIN']])
    pivot_wider['CRAN'] = sum_max_1(pivot_wider[['EYE_', 'SNOU', 'JAW_']])
    pivot_wider['EDEM'] = sum_max_1(pivot_wider[['YSE_','PE__']])
    pivot_wider['LTRK'] = sum_max_1( pivot_wider[['TRUN','CFIN']])
    pivot_wider['MUSC'] = sum_max_1(pivot_wider[['CIRC','SWIM','SOMI']])
    pivot_wider['SKIN'] = pivot_wider[['PIG_']]
    pivot_wider['TCHR'] = pivot_wider[['TR__']]

pivot_wider
pivot_wider.to_csv("/Users/degn400/Desktop/srpTargets/zfBmd/pivot_wider.csv", index = False)

# Format Step 2: Generate Dose Response

In [ ]:
# This is the generate dose response function

#################################################
## IDENTIFY MEASUREMENTS WITH HIGH MISSINGNESS ## 
#################################################

# Create groups of each chemical id, concentration, and plate id
missingness_test = pivot_wider.drop(["well"], 1).groupby(by = ["chemical.id", "conc", "plate.id"], as_index = False)

# Get the number of samples per group
tot_num_samples = missingness_test.size()

# Get the number of non-na samples per groups
nonna = missingness_test.count()

# Get the endpoint columns
colnames = list(pivot_wider.columns)
endpoints = [x for x in colnames if x not in ["chemical.id", "conc", "plate.id", "well"]]

# Create a list of chemical id, concentations, plated id, and endpoints to remove
removals = list()

# Determine the groups and endpoints that have more than 50% missingness 
for row in range(len(tot_num_samples)):
    chemid = tot_num_samples.at[row, "chemical.id"]
    conc = tot_num_samples.at[row, "conc"]
    plateid = tot_num_samples.at[row, "plate.id"]
    threshold = tot_num_samples.at[row, "size"] * 0.5
    remove = nonna.loc[(nonna["chemical.id"] == chemid) & 
                    (nonna["conc"] == conc) &
                    (nonna["plate.id"] == plateid), endpoints] < threshold
    if any(remove == False) and row in [3,5,7]:
        missing_endpoints = list(remove[remove == False].columns)
        removals.append(pd.DataFrame({"chemical.id": chemid, "conc": conc, "plate.id": plateid, "missing_endpoints": missing_endpoints}))

# Generate one dataframe of removals 
removals = pd.concat(removals)
 
# Set all of these values to NA 
pivot_wider.loc[(pivot_wider["chemical.id"].isin(removals["chemical.id"].unique().tolist())) &
                (pivot_wider["conc"].isin(removals["conc"].unique().tolist())) &
                (pivot_wider["plate.id"].isin(removals["plate.id"].unique().tolist()))
               ]
pivot_wider

In [ ]:
# Get NA counts

In [ ]:
num_embryos = pivot_wider.drop(["plate.id", "well"], 1).groupby(by = ["chemical.id", "conc"], dropna = True).count()
num_embryos

In [ ]:
num_affected = pivot_wider.drop("plate.id", 1).groupby(by = ["chemical.id", "conc"], dropna = True).sum()
num_affected

In [ ]:
frac_affected = num_affected / num_embryos
frac_affected

In [ ]:
tot_wells = pivot_wider.drop("plate.id", 1).groupby(by = ["chemical.id", "conc"]).size()
tot_wells