In [1]:
# reformat (tall->wide) LPR 7 PAH

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, time

### Reformat LPR behavioral data

In [42]:
complete_input_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/7_PAH/01_11_2021/7_PAH_zf_LPR_data_2021JAN11.csv'
behav_all_data = pd.read_csv(complete_input_file_path, header = 0)

In [3]:
behav_all_data.head()

   chemical.id bottle.id  conc  plate.id well variable  value
0         3756   C761434   0.0     20544  H01       t0  0.000
1         3756   C761434   0.0     20544  H02       t0    NaN
2         3756   C761434   0.0     20544  H03       t0    NaN
3         3756   C761434   0.0     20544  H04       t0  1.083
4         3756   C761434   0.0     20544  H05       t0  1.608

In [47]:
behav_all_data = behav_all_data.dropna()

In [6]:
#behav_all_data_certain_TX = behav_all_data.loc[behav_all_data['bottle.id'] == "TX002271",['chemical.id', 'bottle.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']]

In [7]:
#behav_all_data_certain_TX.head()

In [48]:
# Keep only relevant columns
behav_all_data = behav_all_data.rename(columns = {"variable":"endpoint"})
columns_to_keep = ['chemical.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']
behav_all_data_select = behav_all_data.loc[:,columns_to_keep]
behav_all_data_select.head()

   chemical.id  conc  plate.id well endpoint  value
0         3756   0.0     20544  H01       t0  0.000
3         3756   0.0     20544  H04       t0  1.083
4         3756   0.0     20544  H05       t0  1.608
5         3756   0.0     20544  H06       t0  4.979
6         3756   0.0     20544  H07       t0  2.394

In [49]:
display(np.unique(behav_all_data_select['endpoint']))

array(['t0', 't1', 't10', 't100', 't101', 't102', 't103', 't104', 't105',
       't106', 't107', 't108', 't109', 't11', 't110', 't111', 't112',
       't113', 't114', 't115', 't116', 't117', 't118', 't119', 't12',
       't120', 't121', 't122', 't123', 't124', 't125', 't126', 't127',
       't128', 't129', 't13', 't130', 't131', 't132', 't133', 't134',
       't135', 't136', 't137', 't138', 't139', 't14', 't140', 't141',
       't142', 't143', 't144', 't145', 't146', 't147', 't148', 't149',
       't15', 't150', 't151', 't152', 't153', 't154', 't155', 't156',
       't157', 't158', 't159', 't16', 't160', 't161', 't162', 't163',
       't164', 't165', 't166', 't167', 't168', 't169', 't17', 't170',
       't171', 't172', 't173', 't174', 't175', 't176', 't177', 't178',
       't179', 't18', 't180', 't181', 't182', 't183', 't184', 't185',
       't186', 't187', 't188', 't189', 't19', 't190', 't191', 't192',
       't193', 't194', 't195', 't196', 't197', 't198', 't199', 't2',
       't20', 't200', 't201', 't202', 't203', 't204', 't205', 't206',
       't207', 't208', 't209', 't21', 't210', 't211', 't212', 't213',
       't214', 't215', 't216', 't217', 't218', 't219', 't22', 't220',
       't221', 't222', 't223', 't224', 't225', 't226', 't227', 't228',
       't229', 't23', 't230', 't231', 't232', 't233', 't234', 't235',
       't236', 't237', 't238', 't239', 't24', 't25', 't26', 't27', 't28',
       't29', 't3', 't30', 't31', 't32', 't33', 't34', 't35', 't36',
       't37', 't38', 't39', 't4', 't40', 't41', 't42', 't43', 't44',
       't45', 't46', 't47', 't48', 't49', 't5', 't50', 't51', 't52',
       't53', 't54', 't55', 't56', 't57', 't58', 't59', 't6', 't60',
       't61', 't62', 't63', 't64', 't65', 't66', 't67', 't68', 't69',
       't7', 't70', 't71', 't72', 't73', 't74', 't75', 't76', 't77',
       't78', 't79', 't8', 't80', 't81', 't82', 't83', 't84', 't85',
       't86', 't87', 't88', 't89', 't9', 't90', 't91', 't92', 't93',
       't94', 't95', 't96', 't97', 't98', 't99'], dtype=object)

In [ ]:
'''
reformat_data = pd.DataFrame()

for chemical_index in np.unique(behav_all_data['chemical.id']):
    behav_data_chemical = behav_all_data_select.loc[behav_all_data['chemical.id'] == chemical_index,:]
    print(chemical_index)
    # Append chemical_plate_well as a unique identifier
    behav_data_chemical.insert(0, 'chemical_plate_well', behav_data_chemical.loc[:,['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1))
    
    for cpw in np.unique(behav_data_chemical.chemical_plate_well):
        temp_df = behav_data_chemical.loc[behav_data_chemical.chemical_plate_well == cpw,:]
        temp_df_grouped = temp_df.groupby(['chemical.id', 'plate.id', 'well'])
        for name, group in temp_df_grouped:
            if(len(group.endpoint) == 15):
                temp = pd.DataFrame(
                        {
                        'chemical.id': np.unique(temp_df['chemical.id']),
                        'plate.id': np.unique(temp_df['plate.id']),
                        'well': np.unique(temp_df['well']),
                        'chemical_plate_well': np.unique(temp_df['chemical_plate_well']),
                        'conc': np.unique(temp_df['conc']),
                        't3': temp_df.value[temp_df.endpoint == 't3'].values,
                        't4': temp_df.value[temp_df.endpoint == 't4'].values,
                        't5': temp_df.value[temp_df.endpoint == 't5'].values,
                        't6': temp_df.value[temp_df.endpoint == 't6'].values,
                        't7': temp_df.value[temp_df.endpoint == 't7'].values,
                        't8': temp_df.value[temp_df.endpoint == 't8'].values,
                        't9': temp_df.value[temp_df.endpoint == 't9'].values,
                        't10': temp_df.value[temp_df.endpoint == 't10'].values,
                        't11': temp_df.value[temp_df.endpoint == 't11'].values,
                        't12': temp_df.value[temp_df.endpoint == 't12'].values,
                        't13': temp_df.value[temp_df.endpoint == 't13'].values,
                        't14': temp_df.value[temp_df.endpoint == 't14'].values,
                        't15': temp_df.value[temp_df.endpoint == 't15'].values,
                        't16': temp_df.value[temp_df.endpoint == 't16'].values,
                        't17': temp_df.value[temp_df.endpoint == 't17'].values,
                        }
                            )
                reformat_data = pd.concat([reformat_data, temp])'''

In [ ]:
#reformat_data.head()

In [11]:
#reformat_data.shape

In [12]:
#reformat_data.to_csv('Phase_I_II_t3_t17_LPR.csv',index=False)

### t0_t239 time points

In [50]:
start_time = time.time()

reformatted_data = pd.DataFrame()

#full_devel = "full"
full_devel = "devel"

if (full_devel == "full"):
    # all chemicals
    chemical_id_from_here = np.unique(behav_all_data['chemical.id'])
else: # full_devel = "devel"
    chemical_id_from_here = np.unique([3756])

print ("chemical_id_from_here:" + str(chemical_id_from_here))
for chemical_index in chemical_id_from_here:
    print("chemical_index:" + str(chemical_index))
    behav_data_chemical = behav_all_data_select.loc[behav_all_data['chemical.id'] == chemical_index,:]
    
    # Append chemical_plate_well as a unique identifier
    behav_data_chemical.insert(0, 'chemical_plate_well', behav_data_chemical.loc[:,['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1))
    
    for cpw in np.unique(behav_data_chemical.chemical_plate_well):
        temp_df = behav_data_chemical.loc[behav_data_chemical.chemical_plate_well == cpw,:]
        #print("temp_df.head():\n" + str(temp_df.head()))
        temp_df_grouped = temp_df.groupby(['chemical.id', 'plate.id', 'well'])
        #print("temp_df_grouped.head():\n" + str(temp_df_grouped.head()))
        for name, group in temp_df_grouped:
            print ("len(group.endpoint):" + str(len(group.endpoint)))
            if(len(group.endpoint) == 240):
                temp = pd.DataFrame(
                        {
                        'chemical.id': np.unique(temp_df['chemical.id']),
                        'plate.id': np.unique(temp_df['plate.id']),
                        'well': np.unique(temp_df['well']),
                        'chemical_plate_well': np.unique(temp_df['chemical_plate_well']),
                        'conc': np.unique(temp_df['conc'])
                        })
                #print(temp.head())
                # Append additonal columns corresponding to time points
                max_time = 240
                for time_point in np.arange(max_time):
                    end_point = 't'+ str(time_point)
                    temp = pd.concat([temp, pd.DataFrame({end_point: temp_df.value[temp_df.endpoint == end_point].values})],axis = 1)
                #print(temp.head())
                #print(reformatted_data)
                reformatted_data = pd.concat([reformatted_data, temp])
                #print(reformatted_data)

end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("Done, it took:"+str(time_took)) 
# took 2 minutes for 2 chemicals

chemical_id_from_here:[3756]
chemical_index:3756
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
len(group.endpoint):240
Done, it took:88.3 seconds

In [51]:
display(reformatted_data)

,chemical.id,plate.id,well,chemical_plate_well,conc,t0,t1,t2,t3,t4,...,t230,t231,t232,t233,t234,t235,t236,t237,t238,t239
0,3756,20544,A02,3756_20544_A02,100.0,2.298,4.579,0.061,0.000,0.000,...,0.434,0.000,1.076,0.000000,0.000,0.000,0.000,0.000,0.000,0.000
0,3756,20544,A04,3756_20544_A04,100.0,2.843,0.000,3.374,2.496,0.000,...,0.000,0.000,0.000,0.000000,0.000,0.000,0.000,0.000,0.000,0.000
0,3756,20544,A05,3756_20544_A05,100.0,6.632,2.626,5.640,3.342,0.741,...,1.845,0.000,0.000,0.000000,1.850,0.000,0.856,0.000,0.000,0.000
0,3756,20544,A06,3756_20544_A06,100.0,7.262,1.071,2.472,1.030,0.300,...,12.307,14.189,6.722,24.010001,0.000,5.421,10.087,4.785,7.256,5.891
0,3756,20544,A08,3756_20544_A08,100.0,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,3756,20625,H08,3756_20625_H08,0.0,0.000,1.489,2.236,0.000,0.000,...,0.000,0.000,0.000,2.551000,0.477,1.893,1.218,4.060,0.977,2.032
0,3756,20625,H09,3756_20625_H09,0.0,0.000,0.000,6.225,0.000,1.418,...,5.886,5.290,2.126,6.110000,2.250,3.036,0.931,0.589,1.158,3.776
0,3756,20625,H10,3756_20625_H10,0.0,8.172,0.616,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000000,0.000,0.000,0.000,0.000,0.000,0.000
0,3756,20625,H11,3756_20625_H11,0.0,0.101,0.884,0.000,0.000,0.000,...,20.029,13.789,12.254,8.076000,18.930,15.247,11.636,15.055,1.907,0.000
0,3756,20625,H12,3756_20625_H12,0.0,0.000,5.647,11.906,0.796,2.590,...,5.417,7.795,1.269,0.000000,1.827,0.000,0.619,0.000,1.607,6.338

In [52]:
reformatted_data_filename = str(complete_input_file_path[:-4]) + "_wide_t0_t239_LPR_" + str(full_devel) + ".csv"
reformatted_data.to_csv(reformatted_data_filename,index=False)