In [1]:
# Basic analysis of phase I, II  morphology data before BMD calculation

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os, random, shutil, time
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

import sys

from datetime import datetime

In [2]:
starting_dir = os.getcwd()
print (starting_dir)

/Users/kimd999/research/script_not_in_dropbox/srpAnalytics/code/latest/2_bmd/1_before_bmd/compare phase_I_II and phase_III/LPR

In [19]:
# phase I, II LPR prepared for bmd calculation
complete_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/latest/after_merging/wide/04_28_2021/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed_full_240_timepoints_wide_full.csv'
df_phase_I_II = pd.read_csv(complete_file_path, header = 0)

display(df_phase_I_II.head())

df_phase_I_II = df_phase_I_II[df_phase_I_II['chemical.id'].notna()]
unique_chemical_ID_phase_I_II = np.unique(df_phase_I_II['chemical.id'])
display (len(unique_chemical_ID_phase_I_II))
display (unique_chemical_ID_phase_I_II)

,chemical.id,plate.id,well,chemical_plate_well,conc,t0,t1,t2,t3,t4,...,t230,t231,t232,t233,t234,t235,t236,t237,t238,t239
0,1030.0,9414.0,A01,1030_9414.0_A01,50.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1030.0,9414.0,A02,1030_9414.0_A02,35.6,0.0,1.2,0.0,0.0,0.0,...,0.0,0.0,3.1,12.7,16.3,11.7,13.9,16.0,20.0,18.6
2,1030.0,9414.0,A03,1030_9414.0_A03,11.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.6,6.4,7.1,7.6,12.2,13.7,5.5,0.0
3,1030.0,9414.0,A04,1030_9414.0_A04,5.0,0.0,1.7,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1030.0,9414.0,A05,1030_9414.0_A05,1.0,3.0,0.0,0.0,0.0,0.0,...,1.8,14.4,24.2,29.3,16.7,30.8,2.3,0.0,6.4,8.7

196

array([  53.,   54.,   56.,   57.,   58.,   60.,   61.,   62.,   63.,
         64.,   65.,   66.,   67.,   69.,   70.,  129.,  155.,  220.,
        227.,  246.,  247.,  248.,  250.,  251.,  252.,  281.,  283.,
        285.,  286.,  295.,  296.,  297.,  360.,  365.,  381.,  384.,
        392.,  404.,  406.,  409.,  412.,  414.,  415.,  416.,  417.,
        418.,  419.,  420.,  441.,  447.,  448.,  500.,  501.,  502.,
        503.,  504.,  511.,  512.,  513.,  514.,  515.,  517.,  596.,
        597.,  601.,  602.,  609.,  618.,  628.,  629.,  667.,  674.,
        689.,  691.,  694.,  696.,  697.,  721.,  722.,  741.,  746.,
        747.,  768.,  769.,  770.,  771.,  774.,  775.,  776.,  777.,
        778.,  946.,  947.,  948.,  949.,  952.,  961.,  965.,  966.,
        998., 1030., 1031., 1105., 1114., 1161., 1163., 1166., 1171.,
       1172., 1174., 1175., 1176., 1177., 1178., 1179., 1180., 1182.,
       1211., 1221., 1307., 1316., 1354., 1370., 1371., 1449., 1595.,
       1603., 1610., 1611., 1612., 1613., 1614., 1615., 1616., 1617.,
       1618., 1619., 1620., 1629., 1651., 1670., 1770., 1854., 1855.,
       1861., 1930., 1965., 1967., 2058., 2067., 2142., 2323., 2324.,
       2325., 2326., 2327., 2328., 2509., 2532., 2601., 2635., 2637.,
       2739., 2740., 2751., 2770., 2774., 2778., 2813., 2915., 2973.,
       3002., 3004., 3005., 3015., 3091., 3102., 3114., 3138., 3140.,
       3144., 3147., 3151., 3272., 3273., 3411., 3412., 3413., 3689.,
       3690., 3757., 3758., 3759., 3760., 3859., 3860.])

In [7]:
# phase III LPR prepared for bmd calculation
complete_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/behavior/LPR/wide/full/Tanguay_Phase_3_zf_LPR_data_PNNL_2021MAR23_full_w_240_timepoints_wide_full.csv'
df_phase_III = pd.read_csv(complete_file_path, header = 0)

display(df_phase_III.head())

display (len(np.unique(df_phase_III['chemical.id'])))
unique_chemical_ID_phase_III = np.unique(df_phase_III['chemical.id'])

display (len(np.unique(df_phase_III['conc'])))

,chemical.id,plate.id,well,chemical_plate_well,conc,t0,t1,t2,t3,t4,...,t230,t231,t232,t233,t234,t235,t236,t237,t238,t239
0,234,14389,A01,234_14389_A01,67.0,5.480,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,2.281,0.000,0.123,0.000
1,234,14389,A02,234_14389_A02,67.0,32.079,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.618,1.341,1.430,0.000,0.000,0.000
2,234,14389,A03,234_14389_A03,67.0,13.307,0.0,0.0,0.0,0.0,...,13.011,11.341,4.929,7.515,4.945,10.594,5.991,5.906,9.567,15.081
3,234,14389,A04,234_14389_A04,67.0,5.473,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,1.580,21.592,16.256,0.000,0.000
4,234,14389,A05,234_14389_A05,67.0,23.419,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,3.056,1.710,0.000,0.000,0.000

215

44

In [14]:
def compare_array(array1, array2):
    same = 0
    diff = 0 
    for i in range(len(array1)):
        for j in range(len(array2)):
            if array1[i] == array2[j]:
                same += 1
            else:
                diff += 1
    #print (same)
    #print (diff)
    #identity_percentage = 100 * same / len(array1)
    identity_percentage = 100 * (same / (same+diff)) * len(array1)
    print_this = "Between " + str(array1) + " and " + str(array2) + ", identity %:" + str(round(identity_percentage,1))
    print (print_this)
    return identity_percentage

In [20]:
compare_array(unique_chemical_ID_phase_I_II, unique_chemical_ID_phase_III)

Between [  53.   54.   56.   57.   58.   60.   61.   62.   63.   64.   65.   66.
   67.   69.   70.  129.  155.  220.  227.  246.  247.  248.  250.  251.
  252.  281.  283.  285.  286.  295.  296.  297.  360.  365.  381.  384.
  392.  404.  406.  409.  412.  414.  415.  416.  417.  418.  419.  420.
  441.  447.  448.  500.  501.  502.  503.  504.  511.  512.  513.  514.
  515.  517.  596.  597.  601.  602.  609.  618.  628.  629.  667.  674.
  689.  691.  694.  696.  697.  721.  722.  741.  746.  747.  768.  769.
  770.  771.  774.  775.  776.  777.  778.  946.  947.  948.  949.  952.
  961.  965.  966.  998. 1030. 1031. 1105. 1114. 1161. 1163. 1166. 1171.
 1172. 1174. 1175. 1176. 1177. 1178. 1179. 1180. 1182. 1211. 1221. 1307.
 1316. 1354. 1370. 1371. 1449. 1595. 1603. 1610. 1611. 1612. 1613. 1614.
 1615. 1616. 1617. 1618. 1619. 1620. 1629. 1651. 1670. 1770. 1854. 1855.
 1861. 1930. 1965. 1967. 2058. 2067. 2142. 2323. 2324. 2325. 2326. 2327.
 2328. 2509. 2532. 2601. 2635. 2637. 2739. 2740. 2751. 2770. 2774. 2778.
 2813. 2915. 2973. 3002. 3004. 3005. 3015. 3091. 3102. 3114. 3138. 3140.
 3144. 3147. 3151. 3272. 3273. 3411. 3412. 3413. 3689. 3690. 3757. 3758.
 3759. 3760. 3859. 3860.] and [ 234  275  280  385  397  443  467  505  588  595  622  660  692  699
  725  726  947  949  955 1016 1017 1031 1155 1174 1175 1178 1179 1182
 1189 1209 1213 1214 1215 1216 1220 1222 1241 1312 1315 1371 1430 1595
 1601 1607 1610 1611 1624 1626 1642 1651 1830 1855 1898 1925 1947 2076
 2090 2110 2151 2180 2192 2240 2323 2358 2585 2587 2589 2590 2594 2595
 2596 2597 2598 2599 2600 2602 2635 2636 2650 2685 2686 2715 2739 2821
 2973 2994 3007 3056 3133 3136 3189 3191 3766 3771 3853 4336 4337 4338
 4339 4340 4341 4342 4343 4344 4345 4346 4347 4348 4349 4350 4351 4352
 4353 4354 4355 4356 4357 4358 4359 4360 4361 4362 4363 4364 4365 4366
 4367 4368 4369 4370 4371 4372 4373 4374 4375 4376 4377 4378 4379 4380
 4381 4382 4383 4384 4385 4386 4387 4388 4390 4391 4392 4393 4394 4395
 4396 4397 4398 4399 4400 4401 4402 4403 4404 4405 4406 4407 4408 4410
 4411 4412 4413 4414 4415 4416 4417 4418 4419 4420 4421 4422 4423 4424
 4425 4426 4427 4428 4429 4430 4431 4432 4433 4434 4435 4436 4437 4438
 4439 4440 4441 4442 4443 4444 4445 4446 4447 4448 4449 4450 4451 4452
 4453 4454 4455 4456 4457], identity %:8.4

8.372093023255815

In [69]:
display(len(df_phase_III.isna()))
display(df_phase_III.isna().head())

61419

,chemical.id,plate.id,well,chemical_plate_well,conc,AXIS,BRN_,CRAN,DNC_,DP24,EDEM,LTRK,MO24,MORT,MUSC,NC__,SKIN,SM24,TCHR
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [71]:
df_phase_III = df_phase_III.dropna()

In [73]:
start_time = time.time()
total_number_of_unique_chemicals = 0

for chemical_index in np.unique(df_phase_III['chemical.id']):
    
    total_number_of_unique_chemicals += 1
    if (chemical_index != 725):
        continue
    print("\nchemical_index:" + str(chemical_index))        
    
    df_phase_III_per_chemical = df_phase_III.loc[df_phase_III['chemical.id'] == chemical_index,:]
    
    for col in df_phase_III_per_chemical.columns:
        if (col != 'chemical.id') and (col != 'plate.id') and (col != 'well') and (col != 'chemical_plate_well')\
                                  and (col != 'conc')     and (col != 'DNC_'):
            
            print_this_common = "\nphase_III_morpho_chemical_" + str(chemical_index)
            
            print_this = print_this_common + "_endpoint_" + str(col) + "_mean:"
            print (print_this + str(round(np.mean(df_phase_III_per_chemical[col]),2)))
            
            print_this = print_this_common + "_endpoint_" + str(col) + "_median:"
            print (print_this + str(round(np.median(df_phase_III_per_chemical[col]),2)))
            
            print_this = print_this_common + "_endpoint_" + str(col) + "_max:"
            print (print_this + str(round(np.max(df_phase_III_per_chemical[col]),2)))
            
            print_this = print_this_common + "_endpoint_" + str(col) + "_min:"
            print (print_this + str(round(np.min(df_phase_III_per_chemical[col]),2)))

            print_this = print_this_common + "_endpoint_" + str(col) + "_std:"
            print (print_this + str(round(np.std(df_phase_III_per_chemical[col]),2)))


print ("\ntotal_number_of_unique_chemicals:" + str(total_number_of_unique_chemicals))


end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("Done, it took:"+str(time_took)) # took 13 minutes for 344 chemicals

chemical_index:725

phase_III_morpho_chemical_725_endpoint_AXIS_mean:0.01

phase_III_morpho_chemical_725_endpoint_AXIS_median:0.0

phase_III_morpho_chemical_725_endpoint_AXIS_max:1.0

phase_III_morpho_chemical_725_endpoint_AXIS_min:0.0

phase_III_morpho_chemical_725_endpoint_AXIS_std:0.08

phase_III_morpho_chemical_725_endpoint_BRN__mean:0.0

phase_III_morpho_chemical_725_endpoint_BRN__median:0.0

phase_III_morpho_chemical_725_endpoint_BRN__max:0.0

phase_III_morpho_chemical_725_endpoint_BRN__min:0.0

phase_III_morpho_chemical_725_endpoint_BRN__std:0.0

phase_III_morpho_chemical_725_endpoint_CRAN_mean:0.02

phase_III_morpho_chemical_725_endpoint_CRAN_median:0.0

phase_III_morpho_chemical_725_endpoint_CRAN_max:1.0

phase_III_morpho_chemical_725_endpoint_CRAN_min:0.0

phase_III_morpho_chemical_725_endpoint_CRAN_std:0.13

phase_III_morpho_chemical_725_endpoint_DP24_mean:0.01

phase_III_morpho_chemical_725_endpoint_DP24_median:0.0

phase_III_morpho_chemical_725_endpoint_DP24_max:1.0

phase_III_morpho_chemical_725_endpoint_DP24_min:0.0

phase_III_morpho_chemical_725_endpoint_DP24_std:0.11

phase_III_morpho_chemical_725_endpoint_EDEM_mean:0.02

phase_III_morpho_chemical_725_endpoint_EDEM_median:0.0

phase_III_morpho_chemical_725_endpoint_EDEM_max:1.0

phase_III_morpho_chemical_725_endpoint_EDEM_min:0.0

phase_III_morpho_chemical_725_endpoint_EDEM_std:0.13

phase_III_morpho_chemical_725_endpoint_LTRK_mean:0.0

phase_III_morpho_chemical_725_endpoint_LTRK_median:0.0

phase_III_morpho_chemical_725_endpoint_LTRK_max:0.0

phase_III_morpho_chemical_725_endpoint_LTRK_min:0.0

phase_III_morpho_chemical_725_endpoint_LTRK_std:0.0

phase_III_morpho_chemical_725_endpoint_MO24_mean:0.0

phase_III_morpho_chemical_725_endpoint_MO24_median:0.0

phase_III_morpho_chemical_725_endpoint_MO24_max:0.0

phase_III_morpho_chemical_725_endpoint_MO24_min:0.0

phase_III_morpho_chemical_725_endpoint_MO24_std:0.0

phase_III_morpho_chemical_725_endpoint_MORT_mean:0.0

phase_III_morpho_chemical_725_endpoint_MORT_median:0.0

phase_III_morpho_chemical_725_endpoint_MORT_max:0.0

phase_III_morpho_chemical_725_endpoint_MORT_min:0.0

phase_III_morpho_chemical_725_endpoint_MORT_std:0.0

phase_III_morpho_chemical_725_endpoint_MUSC_mean:0.01

phase_III_morpho_chemical_725_endpoint_MUSC_median:0.0

phase_III_morpho_chemical_725_endpoint_MUSC_max:1.0

phase_III_morpho_chemical_725_endpoint_MUSC_min:0.0

phase_III_morpho_chemical_725_endpoint_MUSC_std:0.08

phase_III_morpho_chemical_725_endpoint_NC___mean:0.0

phase_III_morpho_chemical_725_endpoint_NC___median:0.0

phase_III_morpho_chemical_725_endpoint_NC___max:0.0

phase_III_morpho_chemical_725_endpoint_NC___min:0.0

phase_III_morpho_chemical_725_endpoint_NC___std:0.0

phase_III_morpho_chemical_725_endpoint_SKIN_mean:0.0

phase_III_morpho_chemical_725_endpoint_SKIN_median:0.0

phase_III_morpho_chemical_725_endpoint_SKIN_max:0.0

phase_III_morpho_chemical_725_endpoint_SKIN_min:0.0

phase_III_morpho_chemical_725_endpoint_SKIN_std:0.0

phase_III_morpho_chemical_725_endpoint_SM24_mean:0.0

phase_III_morpho_chemical_725_endpoint_SM24_median:0.0

phase_III_morpho_chemical_725_endpoint_SM24_max:0.0

phase_III_morpho_chemical_725_endpoint_SM24_min:0.0

phase_III_morpho_chemical_725_endpoint_SM24_std:0.0

phase_III_morpho_chemical_725_endpoint_TCHR_mean:0.01

phase_III_morpho_chemical_725_endpoint_TCHR_median:0.0

phase_III_morpho_chemical_725_endpoint_TCHR_max:1.0

phase_III_morpho_chemical_725_endpoint_TCHR_min:0.0

phase_III_morpho_chemical_725_endpoint_TCHR_std:0.08

total_number_of_unique_chemicals:257
Done, it took:0.0 seconds

In [ ]:
# Goal of this box 
# -> (in df_lpr) leave only rows with non 1 and NA MORT

# Running time
# -> 8 seconds for 1 chemical

# 1. Append additional identifier column (Plate_Well value) to lpr and morphology data
# 2. Find rows in morphology data for which MORT end-point is not 1 or NA
# 3. Using Plate_Well values, find corresponding rows in lpr data to filter the data

# (ref)
# '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/latest/after_merging/tall/bifurcated/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed_merged_full_240_timepoints_cpw_added.csv'
# cpw added here already to save 23 minutes

start_time = time.time()

df_lpr['Chemical_Plate_WELL'] = df_lpr[['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1)
# used to take few minutes, but in 5/9/2021, it takes 23 minutes

display(df_lpr.head())
print("\ndf_lpr.shape:" + str(df_lpr.shape)) #(11,184,240, 7)


df_morph['Chemical_Plate_WELL'] = df_morph[['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1)
#display(df_morph.head())
#print("df_morph.shape:" + str(df_morph.shape)) # (69395, 29)

df_morpho_nonna_plate_well = df_morph.Chemical_Plate_WELL[~((df_morph.MORT == 1) | (df_morph.MORT.isnull()))]
#display(df_morpho_nonna_plate_well.head())
#print("df_morpho_nonna_plate_well.shape:" + str(df_morpho_nonna_plate_well.shape)) # (57558,)

df_lpr_filtered = df_lpr.loc[df_lpr['Chemical_Plate_WELL'].isin(list(df_morpho_nonna_plate_well.values))]
#display('df_lpr_filtered.head()',df_lpr_filtered.head())
print("df_lpr_filtered.shape:"+str(df_lpr_filtered.shape) + "\n") #(8,309,280, 7)

#display(df_morpho_nonna_plate_well[0:5])
print ("\n")
#display(df_lpr.Chemical_Plate_WELL[0:5])

end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("Done, it took:"+str(time_took)) # 8 seconds took for 1 chemical