In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os, random, shutil, time
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

import sys

from datetime import datetime

In [3]:
starting_dir = os.getcwd()
print (starting_dir)

/Users/kimd999/Dropbox/script/python/srpAnalytics/code/latest/1_tall2wide/3_after_tall2wide

In [9]:
complete_input_file_path = "/Users/kimd999/Dropbox/script/python/srpAnalytics/code/latest/1_tall2wide/3_after_tall2wide/replace_plate_id_in_behavioral/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed_full_15_timepoints_wide_full.csv"
df = pd.read_csv(complete_input_file_path, header = 0)
#print(df.columns)

df['plate.id'] = df['plate.id'].astype('str')

display(df.head())

#display (len(np.unique(df['chemical.id'])))
#display (np.unique(df['chemical.id']))

display (np.unique(df['plate.id']))

#display (len(np.unique(df['plate.id'])))

,chemical.id,plate.id,well,chemical_plate_well,conc,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,t16,t17
0,163.0,1,A1,163_1_A1,64.0000,0.9,0.0,1.3,0.0,0.3,0.1,0.0,52.0,0.0,0.0,0.0,19.9,20.8,12.6,12.3
1,163.0,1,A10,163_1_A10,0.0640,31.0,23.2,0.0,0.0,3.3,28.2,0.0,0.0,0.0,0.0,0.0,15.7,50.3,0.0,0.0
2,163.0,1,A11,163_1_A11,0.0064,4.7,30.7,60.0,38.4,34.7,0.0,26.9,8.8,56.4,9.8,37.1,1.4,50.6,0.0,4.2
3,163.0,1,A12,163_1_A12,0.0000,68.9,40.8,4.4,1.5,19.5,10.3,16.7,81.1,4.6,18.5,0.6,0.0,0.0,38.3,0.3
4,163.0,1,A2,163_1_A2,6.4000,0.1,42.9,0.9,90.6,23.4,29.0,49.4,6.2,29.7,59.2,17.5,1.2,25.0,16.3,39.7

array(['1', '2', 'TP962-H10-P1', 'nan'], dtype=object)

In [8]:
# tall
complete_input_file_path= '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/behavior/LPR/tall/Tanguay_Phase_3_zf_LPR_data_PNNL_2021MAR23.csv'
df = pd.read_csv(complete_input_file_path, header = 0)
#print(df.columns)

display(df.head())

display (len(np.unique(df['chemical.id'])))
display (np.unique(df['chemical.id']))

#display (len(np.unique(df['plate.id'])))
#display (np.unique(df['plate.id']))

   chemical.id      bottle.id  conc  plate.id well variable      value
0          234  NTP DNT 91-A1   0.0     14389  H01       t0  17.223000
1          234  NTP DNT 91-A1   0.0     14389  H02       t0  12.876000
2          234  NTP DNT 91-A1   0.0     14389  H03       t0  24.156000
3          234  NTP DNT 91-A1   0.0     14389  H04       t0  31.421999
4          234  NTP DNT 91-A1   0.0     14389  H05       t0  36.917999

215

array([ 234,  275,  280,  385,  397,  443,  467,  505,  588,  595,  622,
        660,  692,  699,  725,  726,  947,  949,  955, 1016, 1017, 1031,
       1155, 1174, 1175, 1178, 1179, 1182, 1189, 1209, 1213, 1214, 1215,
       1216, 1220, 1222, 1241, 1312, 1315, 1371, 1430, 1595, 1601, 1607,
       1610, 1611, 1624, 1626, 1642, 1651, 1830, 1855, 1898, 1925, 1947,
       2076, 2090, 2110, 2151, 2180, 2192, 2240, 2323, 2358, 2585, 2587,
       2589, 2590, 2594, 2595, 2596, 2597, 2598, 2599, 2600, 2602, 2635,
       2636, 2650, 2685, 2686, 2715, 2739, 2821, 2973, 2994, 3007, 3056,
       3133, 3136, 3189, 3191, 3766, 3771, 3853, 4336, 4337, 4338, 4339,
       4340, 4341, 4342, 4343, 4344, 4345, 4346, 4347, 4348, 4349, 4350,
       4351, 4352, 4353, 4354, 4355, 4356, 4357, 4358, 4359, 4360, 4361,
       4362, 4363, 4364, 4365, 4366, 4367, 4368, 4369, 4370, 4371, 4372,
       4373, 4374, 4375, 4376, 4377, 4378, 4379, 4380, 4381, 4382, 4383,
       4384, 4385, 4386, 4387, 4388, 4390, 4391, 4392, 4393, 4394, 4395,
       4396, 4397, 4398, 4399, 4400, 4401, 4402, 4403, 4404, 4405, 4406,
       4407, 4408, 4410, 4411, 4412, 4413, 4414, 4415, 4416, 4417, 4418,
       4419, 4420, 4421, 4422, 4423, 4424, 4425, 4426, 4427, 4428, 4429,
       4430, 4431, 4432, 4433, 4434, 4435, 4436, 4437, 4438, 4439, 4440,
       4441, 4442, 4443, 4444, 4445, 4446, 4447, 4448, 4449, 4450, 4451,
       4452, 4453, 4454, 4455, 4456, 4457])

In [7]:
#wide
complete_input_file_path= '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/behavior/LPR/wide/Tanguay_Phase_3_zf_LPR_data_PNNL_2021_wide_t0_t239_devel_w_240_endpoints.csv'
df = pd.read_csv(complete_input_file_path, header = 0)
#print(df.columns)

display(df.head())

display (len(np.unique(df['chemical.id'])))
display (np.unique(df['chemical.id']))

#display (len(np.unique(df['plate.id'])))
#display (np.unique(df['plate.id']))

,chemical.id,plate.id,well,chemical_plate_well,conc,t0,t1,t2,t3,t4,...,t230,t231,t232,t233,t234,t235,t236,t237,t238,t239
0,234,14389,A01,234_14389_A01,67.0,5.480,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,2.281,0.000,0.123,0.000
1,234,14389,A02,234_14389_A02,67.0,32.079,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.618,1.341,1.430,0.000,0.000,0.000
2,234,14389,A03,234_14389_A03,67.0,13.307,0.0,0.0,0.0,0.0,...,13.011,11.341,4.929,7.515,4.945,10.594,5.991,5.906,9.567,15.081
3,234,14389,A04,234_14389_A04,67.0,5.473,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,1.580,21.592,16.256,0.000,0.000
4,234,14389,A05,234_14389_A05,67.0,23.419,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,3.056,1.710,0.000,0.000,0.000

1

array([234])

In [4]:
complete_input_file_path= '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/morpho/full/wide/Tanguay_Phase_3_zf_morphology_data_PNNL_2021MAR23_full_w_14_endpoints_wide_DNC_0_full.csv'
df = pd.read_csv(complete_input_file_path, header = 0)
#print(df.columns)

display(df.head())

display (len(np.unique(df['chemical.id'])))
display (np.unique(df['chemical.id']))

display (len(np.unique(df['plate.id'])))
display (np.unique(df['plate.id']))

FileNotFoundError: [Errno 2] No such file or directory: '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/morpho/full/wide/Tanguay_Phase_3_zf_morphology_data_PNNL_2021MAR23_full_w_14_endpoints_wide_DNC_0_full.csv'

In [ ]:
# count nan_0_1_data
nan_count = 0
zero_count = 0
one_count = 0
total_count = 0
for (columnName, columnData) in reformatted.iteritems(): 
    if (columnName == "chemical.id") or (columnName == "plate.id") or (columnName == "well") or (columnName == "chemical_plate_well") or (columnName == "conc"):
        continue
#    print('Colunm Name : ', columnName) 
#    print('Column Contents : ', columnData.values[i])
#    print (len(columnData.values))
    for i in range(len(columnData.values)):
        total_count += 1
        if (str(columnData.values[i]) == "nan"):
            nan_count += 1
        elif (str(columnData.values[i]) == "0.0"):
            zero_count += 1
        elif (str(columnData.values[i]) == "1.0"):
            one_count += 1
#        print('Column Contents : ', columnData.values[i])
print ("nan_count:" + str(nan_count))
print ("zero_count:" + str(zero_count))
print ("one_count:" + str(one_count))
print ("total_count:" + str(total_count))

In [ ]:
# divide per chemical.id
    
chemical_id_from_here = np.unique(df['chemical.id'])

full_devel = "full"
#full_devel = "devel"

if (full_devel == "devel"):
    randomly_chosen = random.sample(set(chemical_id_from_here), 2)
    chemical_id_from_here = []
    for i in range(len(randomly_chosen)):
        chemical_id_from_here.append(randomly_chosen[i])

chemical_id_from_here = [53]

for chemical_id in chemical_id_from_here:
    print ("\n", chemical_id)
    df_per_chemical = df.loc[df['chemical.id'] == chemical_id]
    #display(df_per_chemical.head())

    output_filename = "df_per_chemical_" + str(chemical_id) + ".csv"
    df_per_chemical.to_csv(output_filename,index=False)
'''
for chemical_index in chemical_id_from_here:
    print("\nchemical_index:" + str(chemical_index))
    df_per_chemical = df.loc[df['chemical.id'] == chemical_index]
    display(df_per_chemical.head())

    now = datetime.now()

    current_time = now.strftime("%H:%M:%S")
    print("Current Time =", current_time)
'''    
display(df_per_chemical.head())
print ("extraction per chemical is done.")

In [ ]:
complete_input_file_path= '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/latest/after_merging/wide/04_28_2021/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed_full_240_timepoints_wide_full.csv'
df = pd.read_csv(complete_input_file_path, header = 0)
df = df.rename({'endpoint': 'timepoint'}, axis=1)

display(df.head())

display (len(np.unique(df['chemical.id'])))
display (np.unique(df['chemical.id']))

#display (len(np.unique(df['plate.id'])))
#display (np.unique(df['plate.id']))

In [ ]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]

display(rows_with_NaN.head())
display(rows_with_NaN.tail())
display(len(rows_with_NaN))

In [ ]:
display("before dropna, len(df):"+str(len(df)))
df = df.dropna(how='any')
display("after dropna,  len(df):"+str(len(df)))

In [ ]:
df['chemical.id'] = df['chemical.id'].astype(int)
    
display (len(np.unique(df['chemical.id'])))
display (np.unique(df['chemical.id']))

df['plate.id'] = df['plate.id'].astype(str)
try:
    df['plate.id'] = df['plate.id'].astype(float)
    df['plate.id'] = df['plate.id'].astype(int)
except:
    pass

display (len(np.unique(df['plate.id'])))
display (np.unique(df['plate.id']))

display (df.head())

In [ ]:
len_timepoint = []

chemical_id_from_here = np.unique(df['chemical.id'])
        
total_number_of_chemicals_to_processed = len(chemical_id_from_here)
number_of_chemicals_processed = 0

for chemical_index in chemical_id_from_here:
    df_chemical = df.loc[df['chemical.id'] == chemical_index,:]
    #print("chemical_index:" + str(chemical_index))
    
    len_timepoint.append(len(np.unique(df_chemical['timepoint'])))
    
    #number_of_chemicals_processed += 1
    #write_this = str(number_of_chemicals_processed) + " chemicals processed out of " + str(total_number_of_chemicals_to_processed)
    #print(write_this)

In [ ]:
ds = pd.Series({"Column": len_timepoint})
plt.figure(figsize=(8,4))
#plt.savefig("distribute.png")
sns.countplot(x="Column", data=ds)

In [ ]:
file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/latest/before_merging/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed.csv'
df = pd.read_csv(file_path, header = 0)
df = df.rename({'endpoint': 'timepoint'}, axis=1)

display(df.head())

display (len(np.unique(df['chemical.id'])))
display (np.unique(df['chemical.id']))

display (len(np.unique(df['plate.id'])))
display (np.unique(df['plate.id']))

In [ ]:


file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/after_Lisa_fix/full/tall/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed.csv'
df = pd.read_csv(file_path, header = 0)
display(df.head())
display(len(df))

display (len(np.unique(df['chemical.id'])))
#display (np.unique(df['chemical.id']))