In [1]:
##### overall explanation
# 1. reformat LPR data to have t0-t239
# 2. reformat EPR data to have t1-t49

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, time

import warnings
warnings.filterwarnings('ignore')

### Reformat LPR behavioral data

In [17]:
complete_input_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/Phase_I_II/input/behavioral/tall/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX.csv'
behav_all_data = pd.read_csv(complete_input_file_path, header = 0)
#behav_all_data.head()

In [33]:
#len(behav_all_data)

In [4]:
TX_bottle_id_behav_all_data = behav_all_data[behav_all_data['bottle.id'].str.contains("^TX")]
TX_bottle_id_behav_all_data.head()

   chemical.id bottle.id  conc     plate.id well endpoint  value
0         2752  TX000657  0.64  TP972-H6-P1   B3       t3    0.4
1         2752  TX000657  0.64  TP972-H6-P1   F3       t3    0.0
2         2752  TX000657  6.40  TP972-H6-P1   B8       t3   37.5
3         2752  TX000657  0.64  TP972-H6-P1   C3       t3    0.0
4         2752  TX000657  0.64  TP972-H6-P1   F3       t3    0.0

In [29]:
len(TX_bottle_id_behav_all_data)

426240

In [5]:
##### (start) replace plate.id in behavioral data with plate.id in morphological data (common data will be bottle.id)

complete_morph_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/Phase_I_II/input/morphology/after_Lisa_cleanup/tall/zf_morphology_data_335_chemicals_2020DEC16.csv'
morph_all_data = pd.read_csv(complete_morph_file_path, header = 0)
#morph_all_data.head()

In [32]:
#len(morph_all_data)

In [6]:
TX_bottle_id_morph_all_data = morph_all_data[morph_all_data['bottle.id'].str.contains("^TX")]
TX_bottle_id_morph_all_data.head()

,chemical.id,bottle.id,conc,plate.id,well,date,endpoint,value
664608,163,TX002271,0.0,TP967-E9-P1,A06,20130219,MO24,0.0
664609,163,TX002271,0.0,TP967-E9-P1,B06,20130219,MO24,0.0
664610,163,TX002271,0.0,TP967-E9-P1,C06,20130219,MO24,0.0
664611,163,TX002271,0.0,TP967-E9-P1,D06,20130219,MO24,0.0
664612,163,TX002271,0.0,TP967-E9-P1,E06,20130219,MO24,0.0

In [24]:
len(TX_bottle_id_morph_all_data)

653568

In [15]:
#new_behav_all_data = TX_bottle_id_behav_all_data.loc[TX_bottle_id_morph_all_data['bottle.id'],['chemical.id', 'bottle.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']]

In [ ]:
##### (end) replace plate.id in behavioral data with plate.id in morphological data (common data will be bottle.id)

In [11]:
#new_behav_all_data = behav_all_data.loc[behav_all_data['bottle.id'] == "TX002271",['chemical.id', 'bottle.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']]

In [12]:
#new_behav_all_data.head()

In [9]:
# Keep only relevant columns
columns_to_keep = ['chemical.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']
behav_all_data_select = behav_all_data.loc[:,columns_to_keep]
behav_all_data_select.head()

   chemical.id  conc     plate.id well endpoint  value
0         2752  0.64  TP972-H6-P1   B3       t3    0.4
1         2752  0.64  TP972-H6-P1   F3       t3    0.0
2         2752  6.40  TP972-H6-P1   B8       t3   37.5
3         2752  0.64  TP972-H6-P1   C3       t3    0.0
4         2752  0.64  TP972-H6-P1   F3       t3    0.0

In [10]:
display(np.unique(behav_all_data['endpoint']))

array(['t0', 't1', 't10', 't100', 't101', 't102', 't103', 't104', 't105',
       't106', 't107', 't108', 't109', 't11', 't110', 't111', 't112',
       't113', 't114', 't115', 't116', 't117', 't118', 't119', 't12',
       't120', 't121', 't122', 't123', 't124', 't125', 't126', 't127',
       't128', 't129', 't13', 't130', 't131', 't132', 't133', 't134',
       't135', 't136', 't137', 't138', 't139', 't14', 't140', 't141',
       't142', 't143', 't144', 't145', 't146', 't147', 't148', 't149',
       't15', 't150', 't151', 't152', 't153', 't154', 't155', 't156',
       't157', 't158', 't159', 't16', 't160', 't161', 't162', 't163',
       't164', 't165', 't166', 't167', 't168', 't169', 't17', 't170',
       't171', 't172', 't173', 't174', 't175', 't176', 't177', 't178',
       't179', 't18', 't180', 't181', 't182', 't183', 't184', 't185',
       't186', 't187', 't188', 't189', 't19', 't190', 't191', 't192',
       't193', 't194', 't195', 't196', 't197', 't198', 't199', 't2',
       't20', 't200', 't201', 't202', 't203', 't204', 't205', 't206',
       't207', 't208', 't209', 't21', 't210', 't211', 't212', 't213',
       't214', 't215', 't216', 't217', 't218', 't219', 't22', 't220',
       't221', 't222', 't223', 't224', 't225', 't226', 't227', 't228',
       't229', 't23', 't230', 't231', 't232', 't233', 't234', 't235',
       't236', 't237', 't238', 't239', 't24', 't25', 't26', 't27', 't28',
       't29', 't3', 't30', 't31', 't32', 't33', 't34', 't35', 't36',
       't37', 't38', 't39', 't4', 't40', 't41', 't42', 't43', 't44',
       't45', 't46', 't47', 't48', 't49', 't5', 't50', 't51', 't52',
       't53', 't54', 't55', 't56', 't57', 't58', 't59', 't6', 't60',
       't61', 't62', 't63', 't64', 't65', 't66', 't67', 't68', 't69',
       't7', 't70', 't71', 't72', 't73', 't74', 't75', 't76', 't77',
       't78', 't79', 't8', 't80', 't81', 't82', 't83', 't84', 't85',
       't86', 't87', 't88', 't89', 't9', 't90', 't91', 't92', 't93',
       't94', 't95', 't96', 't97', 't98', 't99'], dtype=object)

In [11]:
display(np.unique(behav_all_data_select['endpoint']))

array(['t0', 't1', 't10', 't100', 't101', 't102', 't103', 't104', 't105',
       't106', 't107', 't108', 't109', 't11', 't110', 't111', 't112',
       't113', 't114', 't115', 't116', 't117', 't118', 't119', 't12',
       't120', 't121', 't122', 't123', 't124', 't125', 't126', 't127',
       't128', 't129', 't13', 't130', 't131', 't132', 't133', 't134',
       't135', 't136', 't137', 't138', 't139', 't14', 't140', 't141',
       't142', 't143', 't144', 't145', 't146', 't147', 't148', 't149',
       't15', 't150', 't151', 't152', 't153', 't154', 't155', 't156',
       't157', 't158', 't159', 't16', 't160', 't161', 't162', 't163',
       't164', 't165', 't166', 't167', 't168', 't169', 't17', 't170',
       't171', 't172', 't173', 't174', 't175', 't176', 't177', 't178',
       't179', 't18', 't180', 't181', 't182', 't183', 't184', 't185',
       't186', 't187', 't188', 't189', 't19', 't190', 't191', 't192',
       't193', 't194', 't195', 't196', 't197', 't198', 't199', 't2',
       't20', 't200', 't201', 't202', 't203', 't204', 't205', 't206',
       't207', 't208', 't209', 't21', 't210', 't211', 't212', 't213',
       't214', 't215', 't216', 't217', 't218', 't219', 't22', 't220',
       't221', 't222', 't223', 't224', 't225', 't226', 't227', 't228',
       't229', 't23', 't230', 't231', 't232', 't233', 't234', 't235',
       't236', 't237', 't238', 't239', 't24', 't25', 't26', 't27', 't28',
       't29', 't3', 't30', 't31', 't32', 't33', 't34', 't35', 't36',
       't37', 't38', 't39', 't4', 't40', 't41', 't42', 't43', 't44',
       't45', 't46', 't47', 't48', 't49', 't5', 't50', 't51', 't52',
       't53', 't54', 't55', 't56', 't57', 't58', 't59', 't6', 't60',
       't61', 't62', 't63', 't64', 't65', 't66', 't67', 't68', 't69',
       't7', 't70', 't71', 't72', 't73', 't74', 't75', 't76', 't77',
       't78', 't79', 't8', 't80', 't81', 't82', 't83', 't84', 't85',
       't86', 't87', 't88', 't89', 't9', 't90', 't91', 't92', 't93',
       't94', 't95', 't96', 't97', 't98', 't99'], dtype=object)

In [16]:
'''
reformat_data = pd.DataFrame()

for chemical_index in np.unique(behav_all_data['chemical.id']):
    behav_data_chemical = behav_all_data_select.loc[behav_all_data['chemical.id'] == chemical_index,:]
    print(chemical_index)
    # Append chemical_plate_well as a unique identifier
    behav_data_chemical.insert(0, 'chemical_plate_well', behav_data_chemical.loc[:,['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1))
    
    for cpw in np.unique(behav_data_chemical.chemical_plate_well):
        temp_df = behav_data_chemical.loc[behav_data_chemical.chemical_plate_well == cpw,:]
        temp_df_grouped = temp_df.groupby(['chemical.id', 'plate.id', 'well'])
        for name, group in temp_df_grouped:
            if(len(group.endpoint) == 15):
                temp = pd.DataFrame(
                        {
                        'chemical.id': np.unique(temp_df['chemical.id']),
                        'plate.id': np.unique(temp_df['plate.id']),
                        'well': np.unique(temp_df['well']),
                        'chemical_plate_well': np.unique(temp_df['chemical_plate_well']),
                        'conc': np.unique(temp_df['conc']),
                        't3': temp_df.value[temp_df.endpoint == 't3'].values,
                        't4': temp_df.value[temp_df.endpoint == 't4'].values,
                        't5': temp_df.value[temp_df.endpoint == 't5'].values,
                        't6': temp_df.value[temp_df.endpoint == 't6'].values,
                        't7': temp_df.value[temp_df.endpoint == 't7'].values,
                        't8': temp_df.value[temp_df.endpoint == 't8'].values,
                        't9': temp_df.value[temp_df.endpoint == 't9'].values,
                        't10': temp_df.value[temp_df.endpoint == 't10'].values,
                        't11': temp_df.value[temp_df.endpoint == 't11'].values,
                        't12': temp_df.value[temp_df.endpoint == 't12'].values,
                        't13': temp_df.value[temp_df.endpoint == 't13'].values,
                        't14': temp_df.value[temp_df.endpoint == 't14'].values,
                        't15': temp_df.value[temp_df.endpoint == 't15'].values,
                        't16': temp_df.value[temp_df.endpoint == 't16'].values,
                        't17': temp_df.value[temp_df.endpoint == 't17'].values,
                        }
                            )
                reformat_data = pd.concat([reformat_data, temp])'''

"\nreformat_data = pd.DataFrame()\n\nfor chemical_index in np.unique(behav_all_data['chemical.id']):\n    behav_data_chemical = behav_all_data_select.loc[behav_all_data['chemical.id'] == chemical_index,:]\n    print(chemical_index)\n    # Append chemical_plate_well as a unique identifier\n    behav_data_chemical.insert(0, 'chemical_plate_well', behav_data_chemical.loc[:,['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1))\n    \n    for cpw in np.unique(behav_data_chemical.chemical_plate_well):\n        temp_df = behav_data_chemical.loc[behav_data_chemical.chemical_plate_well == cpw,:]\n        temp_df_grouped = temp_df.groupby(['chemical.id', 'plate.id', 'well'])\n        for name, group in temp_df_grouped:\n            if(len(group.endpoint) == 15):\n                temp = pd.DataFrame(\n                        {\n                        'chemical.id': np.unique(temp_df['chemical.id']),\n                        'plate.id': np.unique(temp_df['plate.id']),\n                        'well': np.unique(temp_df['well']),\n                        'chemical_plate_well': np.unique(temp_df['chemical_plate_well']),\n                        'conc': np.unique(temp_df['conc']),\n                        't3': temp_df.value[temp_df.endpoint == 't3'].values,\n                        't4': temp_df.value[temp_df.endpoint == 't4'].values,\n                        't5': temp_df.value[temp_df.endpoint == 't5'].values,\n                        't6': temp_df.value[temp_df.endpoint == 't6'].values,\n                        't7': temp_df.value[temp_df.endpoint == 't7'].values,\n                        't8': temp_df.value[temp_df.endpoint == 't8'].values,\n                        't9': temp_df.value[temp_df.endpoint == 't9'].values,\n                        't10': temp_df.value[temp_df.endpoint == 't10'].values,\n                        't11': temp_df.value[temp_df.endpoint == 't11'].values,\n                        't12': temp_df.value[temp_df.endpoint == 't12'].values,\n                        't13': temp_df.value[temp_df.endpoint == 't13'].values,\n                        't14': temp_df.value[temp_df.endpoint == 't14'].values,\n                        't15': temp_df.value[temp_df.endpoint == 't15'].values,\n                        't16': temp_df.value[temp_df.endpoint == 't16'].values,\n                        't17': temp_df.value[temp_df.endpoint == 't17'].values,\n                        }\n                            )\n                reformat_data = pd.concat([reformat_data, temp])"

In [17]:
#reformat_data.head()

In [18]:
#reformat_data.shape

In [19]:
#reformat_data.to_csv('Phase_I_II_t3_t17_LPR.csv',index=False)

In [ ]:
###### replace plate id with what is listed in the morphology data to the LPR.
###### for your example, TP967-E9-P1, will go in place of plate.id “1” in the LPR file.

# read morpho data and match/join

### t0_t239 time points

In [19]:
start_time = time.time()

reformat_data = pd.DataFrame()
max_time = 240
    
full_devel = "full"
#full_devel = "devel"

if (full_devel == "full"):
    # all chemicals
    chemical_id_from_here = np.unique(behav_all_data['chemical.id'])
else: # full_devel = "devel"
    chemical_id_from_here = np.unique([53,54])

    
for chemical_index in chemical_id_from_here:
    behav_data_chemical = behav_all_data_select.loc[behav_all_data['chemical.id'] == chemical_index,:]
    print("chemical_index:" + str(chemical_index))
    # Append chemical_plate_well as a unique identifier
    behav_data_chemical.insert(0, 'chemical_plate_well', behav_data_chemical.loc[:,['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1))
    
    for cpw in np.unique(behav_data_chemical.chemical_plate_well):
        temp_df = behav_data_chemical.loc[behav_data_chemical.chemical_plate_well == cpw,:]
        #display(temp_df.head())
        temp_df_grouped = temp_df.groupby(['chemical.id', 'plate.id', 'well'])
        #display(temp_df_grouped.head())
        for name, group in temp_df_grouped:
            if(len(group.endpoint) == 240):
                temp = pd.DataFrame(
                        {
                        'chemical.id': np.unique(temp_df['chemical.id']),
                        'plate.id': np.unique(temp_df['plate.id']),
                        'well': np.unique(temp_df['well']),
                        'chemical_plate_well': np.unique(temp_df['chemical_plate_well']),
                        'conc': np.unique(temp_df['conc'])
                        })
                #print(temp.head())
                # Append additonal columns corresponding to time points
                for time_point in np.arange(max_time):
                    end_point = 't'+ str(time_point)
                    temp = pd.concat([temp, pd.DataFrame({end_point: temp_df.value[temp_df.endpoint == end_point].values})],axis = 1)
                #print(temp.head())
                #print(reformat_data)
                reformat_data = pd.concat([reformat_data, temp])
                #print(reformat_data)

end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("Done, it took:"+str(time_took)) 
# took 2 minutes for 2 chemicals

chemical_index:53
chemical_index:54
chemical_index:56
chemical_index:57
chemical_index:58
chemical_index:60
chemical_index:61
chemical_index:62
chemical_index:63
chemical_index:64
chemical_index:65
chemical_index:66
chemical_index:67
chemical_index:69
chemical_index:70
chemical_index:129
chemical_index:155
chemical_index:163
chemical_index:165
chemical_index:172
chemical_index:176
chemical_index:197
chemical_index:220
chemical_index:227
chemical_index:246
chemical_index:247
chemical_index:248
chemical_index:250
chemical_index:251
chemical_index:252
chemical_index:281
chemical_index:283
chemical_index:285
chemical_index:286
chemical_index:295
chemical_index:296
chemical_index:297
chemical_index:332
chemical_index:337
chemical_index:338
chemical_index:339
chemical_index:342
chemical_index:355
chemical_index:357
chemical_index:360
chemical_index:362
chemical_index:363
chemical_index:365
chemical_index:370
chemical_index:373
chemical_index:380
chemical_index:381
chemical_index:384
chemical_index:392
chemical_index:395
chemical_index:396
chemical_index:401
chemical_index:403
chemical_index:404
chemical_index:406
chemical_index:409
chemical_index:412
chemical_index:413
chemical_index:414
chemical_index:415
chemical_index:416
chemical_index:417
chemical_index:418
chemical_index:419
chemical_index:420
chemical_index:421
chemical_index:441
chemical_index:447
chemical_index:448
chemical_index:470
chemical_index:471
chemical_index:472
chemical_index:481
chemical_index:500
chemical_index:501
chemical_index:502
chemical_index:503
chemical_index:504
chemical_index:511
chemical_index:512
chemical_index:513
chemical_index:514
chemical_index:515
chemical_index:517
chemical_index:557
chemical_index:560
chemical_index:581
chemical_index:585
chemical_index:596
chemical_index:597
chemical_index:599
chemical_index:601
chemical_index:602
chemical_index:606
chemical_index:607
chemical_index:609
chemical_index:618
chemical_index:628
chemical_index:629
chemical_index:667
chemical_index:674
chemical_index:689
chemical_index:691
chemical_index:694
chemical_index:696
chemical_index:697
chemical_index:702
chemical_index:721
chemical_index:722
chemical_index:740
chemical_index:741
chemical_index:746
chemical_index:747
chemical_index:768
chemical_index:769
chemical_index:770
chemical_index:771
chemical_index:774
chemical_index:775
chemical_index:776
chemical_index:777
chemical_index:778
chemical_index:946
chemical_index:947
chemical_index:948
chemical_index:949
chemical_index:951
chemical_index:952
chemical_index:961
chemical_index:965
chemical_index:966
chemical_index:998
chemical_index:1030
chemical_index:1031
chemical_index:1105
chemical_index:1114
chemical_index:1119
chemical_index:1161
chemical_index:1163
chemical_index:1166
chemical_index:1167
chemical_index:1171
chemical_index:1172
chemical_index:1174
chemical_index:1175
chemical_index:1176
chemical_index:1177
chemical_index:1178
chemical_index:1179
chemical_index:1180
chemical_index:1182
chemical_index:1183
chemical_index:1187
chemical_index:1211
chemical_index:1221
chemical_index:1268
chemical_index:1271
chemical_index:1273
chemical_index:1307
chemical_index:1310
chemical_index:1316
chemical_index:1327
chemical_index:1354
chemical_index:1363
chemical_index:1370
chemical_index:1371
chemical_index:1383
chemical_index:1391
chemical_index:1449
chemical_index:1450
chemical_index:1454
chemical_index:1455
chemical_index:1532
chemical_index:1535
chemical_index:1540
chemical_index:1595
chemical_index:1600
chemical_index:1603
chemical_index:1606
chemical_index:1608
chemical_index:1610
chemical_index:1611
chemical_index:1612
chemical_index:1613
chemical_index:1614
chemical_index:1615
chemical_index:1616
chemical_index:1617
chemical_index:1618
chemical_index:1619
chemical_index:1620
chemical_index:1627
chemical_index:1629
chemical_index:1631
chemical_index:1651
chemical_index:1664
chemical_index:1666
chemical_index:1670
chemical_index:1677
chemical_index:1689
chemical_index:1694
chemical_index:1704
chemical_index:1706
chemical_index:1762
chemical_index:1764
chemical_index:1770
chemical_index:1771
chemical_index:1790
chemical_index:1796
chemical_index:1807
chemical_index:1808
chemical_index:1809
chemical_index:1816
chemical_index:1827
chemical_index:1845
chemical_index:1846
chemical_index:1853
chemical_index:1854
chemical_index:1855
chemical_index:1861
chemical_index:1890
chemical_index:1906
chemical_index:1912
chemical_index:1929
chemical_index:1930
chemical_index:1944
chemical_index:1961
chemical_index:1965
chemical_index:1967
chemical_index:1968
chemical_index:1982
chemical_index:2058
chemical_index:2067
chemical_index:2098
chemical_index:2103
chemical_index:2104
chemical_index:2105
chemical_index:2137
chemical_index:2141
chemical_index:2142
chemical_index:2154
chemical_index:2156
chemical_index:2159
chemical_index:2165
chemical_index:2185
chemical_index:2186
chemical_index:2187
chemical_index:2191
chemical_index:2323
chemical_index:2324
chemical_index:2325
chemical_index:2326
chemical_index:2327
chemical_index:2328
chemical_index:2371
chemical_index:2373
chemical_index:2374
chemical_index:2406
chemical_index:2411
chemical_index:2413
chemical_index:2414
chemical_index:2415
chemical_index:2417
chemical_index:2432
chemical_index:2467
chemical_index:2496
chemical_index:2506
chemical_index:2509
chemical_index:2532
chemical_index:2573
chemical_index:2596
chemical_index:2601
chemical_index:2635
chemical_index:2637
chemical_index:2638
chemical_index:2655
chemical_index:2657
chemical_index:2661
chemical_index:2686
chemical_index:2688
chemical_index:2691
chemical_index:2706
chemical_index:2723
chemical_index:2726
chemical_index:2739
chemical_index:2740
chemical_index:2743
chemical_index:2751
chemical_index:2752
chemical_index:2770
chemical_index:2772
chemical_index:2774
chemical_index:2778
chemical_index:2813
chemical_index:2827
chemical_index:2849
chemical_index:2877
chemical_index:2886
chemical_index:2893
chemical_index:2896
chemical_index:2915
chemical_index:2960
chemical_index:2973
chemical_index:2989
chemical_index:3002
chemical_index:3004
chemical_index:3005
chemical_index:3009
chemical_index:3012
chemical_index:3015
chemical_index:3022
chemical_index:3055
chemical_index:3091
chemical_index:3102
chemical_index:3104
chemical_index:3114
chemical_index:3127
chemical_index:3138
chemical_index:3139
chemical_index:3140
chemical_index:3144
chemical_index:3147
chemical_index:3151
chemical_index:3160
chemical_index:3168
chemical_index:3169
chemical_index:3272
chemical_index:3273
chemical_index:3411
chemical_index:3412
chemical_index:3413
chemical_index:3689
chemical_index:3690
chemical_index:3757
chemical_index:3758
chemical_index:3759
chemical_index:3760
chemical_index:3859
chemical_index:3860
Done, it took:16493.3 seconds

In [13]:
display(reformat_data)

,chemical.id,plate.id,well,chemical_plate_well,conc,t0,t1,t2,t3,t4,...,t230,t231,t232,t233,t234,t235,t236,t237,t238,t239
0,53,9289,A01,53_9289.0_A01,50.00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.000,0.000,0.0,0.0,0.0
0,53,9289,A02,53_9289.0_A02,35.60,7.2,0.0,0.0,0.0,0.000,...,14.100,15.2,17.3,17.5,10.6,13.400,9.100,11.2,11.7,10.6
0,53,9289,A03,53_9289.0_A03,11.20,0.0,0.0,0.0,0.0,0.000,...,0.000,13.9,12.9,0.0,11.5,12.900,9.200,13.1,3.0,7.9
0,53,9289,A04,53_9289.0_A04,5.00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.000,0.000,0.0,0.0,0.0
0,53,9289,A05,53_9289.0_A05,1.00,0.0,0.0,0.0,0.0,0.000,...,13.700,18.1,7.1,10.3,8.3,17.500,12.300,13.9,10.8,15.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,54,12843,H08,54_12843.0_H08,3.56,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.000,0.000,0.0,0.0,0.0
0,54,12843,H09,54_12843.0_H09,1.12,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.800,1.608,0.0,0.0,0.0
0,54,12843,H10,54_12843.0_H10,0.50,0.0,0.0,0.0,0.0,1.216,...,4.684,0.0,0.0,0.0,0.0,0.000,0.000,0.0,0.0,0.0
0,54,12843,H11,54_12843.0_H11,0.10,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.261,0.000,0.0,0.0,0.0
0,54,12843,H12,54_12843.0_H12,0.00,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.000,0.000,0.0,0.0,0.0

In [18]:
reformatted_data_filename = str(complete_input_file_path[:-4]) + "_wide_t0_t239_" + str(full_devel) + ".csv"
reformatted_data.to_csv(reformatted_data_filename,index=False)

NameError: name 'full_devel' is not defined

In [19]:
len(np.unique(reformat_data['chemical.id']))

2