In [1]:
import numpy as np
import pandas as pd
import os, time
from matplotlib import pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
starting_dir = os.getcwd()
print (starting_dir)

/Users/kimd999/research/script_not_in_dropbox/srpAnalytics/analysis/latest/2_analysis

In [5]:
#complete_input_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/tall/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall.csv'
complete_input_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/after_Lisa_fix/full/15_endpoints/wide/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed_full_w_15_endpoints_wide_t3_t17_full.csv'
df = pd.read_csv(complete_input_file_path, header = 0)

In [8]:
df_chemcal_id = df[['chemical.id']]
display(len(np.unique(df_chemcal_id)))
display(np.unique(df_chemcal_id))
df_chemcal_id.to_csv("chemical_id.csv",index=False)

244

array([ 163.,  165.,  172.,  176.,  197.,  332.,  337.,  338.,  339.,
        342.,  355.,  357.,  362.,  363.,  370.,  373.,  380.,  395.,
        396.,  401.,  403.,  413.,  421.,  470.,  471.,  472.,  481.,
        557.,  560.,  581.,  585.,  599.,  606.,  607.,  702.,  740.,
        951., 1119., 1167., 1183., 1187., 1268., 1271., 1273., 1310.,
       1327., 1363., 1383., 1391., 1450., 1454., 1455., 1532., 1535.,
       1540., 1600., 1606., 1608., 1627., 1631., 1664., 1666., 1677.,
       1689., 1694., 1704., 1706., 1762., 1764., 1771., 1790., 1796.,
       1807., 1808., 1809., 1816., 1827., 1845., 1846., 1853., 1890.,
       1906., 1912., 1929., 1944., 1961., 1968., 1982., 2098., 2103.,
       2104., 2105., 2137., 2141., 2154., 2156., 2159., 2165., 2185.,
       2186., 2187., 2191., 2371., 2373., 2374., 2406., 2411., 2413.,
       2414., 2415., 2417., 2432., 2467., 2496., 2506., 2573., 2596.,
       2638., 2655., 2657., 2661., 2686., 2688., 2691., 2706., 2723.,
       2726., 2743., 2752., 2772., 2827., 2849., 2877., 2886., 2893.,
       2896., 2960., 2989., 3009., 3012., 3022., 3055., 3104., 3127.,
       3139., 3160., 3168., 3169.,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan])

In [11]:
df_part = df[df['chemical.id']==53]

display(df_part.head())
display(df_part.tail())

output_filename = str(complete_input_file_path[:-4]) + "_chemical_id_53.csv"
df_part.to_csv(output_filename, index=False)

         chemical.id bottle.id  conc plate.id well endpoint  value
4236920           53    C96423   NaN      NaN  NaN       t0    NaN
4255304           53    C96423   0.0     9289  A06       t0    0.0
4255305           53    C96423   0.0     9289  A12       t0    0.0
4255306           53    C96423   0.0     9289  B06       t0    0.0
4255307           53    C96423   0.0     9289  B12       t0    0.0

          chemical.id bottle.id  conc plate.id well endpoint  value
11607370           53    C96423  50.0     9290  F07     t239    0.0
11607371           53    C96423  50.0     9290  G01     t239   26.4
11607372           53    C96423  50.0     9290  G07     t239    4.4
11607373           53    C96423  50.0     9290  H01     t239    0.0
11607374           53    C96423  50.0     9290  H07     t239   17.6