### Reformat LPR behavioral data to have t0-t239 or t0-t14

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, random, time

import warnings
warnings.filterwarnings('ignore')

In [10]:
starting_dir = os.getcwd()
print (starting_dir)

/Users/kimd999/research/script_not_in_dropbox/srpAnalytics/analysis/latest/1_reformat/all_targets/LPR

In [13]:
# mac - phase I & II - LPR - 240 endpoints
#complete_input_file_path= '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/after_Lisa_fix/full/240_endpoints/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed_full_w_240_endpoints.csv'
# -> 196 unique chemical IDs

# mac - phase I & II - LPR - 15 endpoints
complete_input_file_path= '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/after_Lisa_fix/full/15_endpoints/tall/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed_full_w_15_endpoints.csv'
# -> 148 unique chemical IDs

# mac - phase III - full
#complete_input_file_path= '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/original/behavior/LPR/Tanguay_Phase_3_zf_LPR_data_PNNL_2021MAR23.csv'
# -> 240 unique variables and 215 unique chemical IDs

# constance - phase I & II - full
#complete_input_file_path= '/qfs/people/kimd999/tox/phase_I_II/LPR/input/tall/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_full_w_15_endpoints.csv'
#complete_input_file_path= '/qfs/people/kimd999/tox/phase_I_II/LPR/input/tall/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_full_w_240_endpoints.csv'

# constance - phase III - full
#complete_input_file_path= '/people/kimd999/tox/phase_III/Tanguay_Phase_3_zf_LPR_data_PNNL_2021MAR23.csv'

In [14]:
df_behav = pd.read_csv(complete_input_file_path, header = 0)
df_behav = df_behav.rename({'endpoint': 'variable'}, axis=1)

display(df_behav.head())

   chemical.id  conc plate.id well variable  value
0         1119   6.4        1   A8       t3   11.3
1         1119   0.0        2   F6       t3    0.0
2         1119   0.0        2   C6       t3   43.4
3         1119   0.0        2   D6       t3   37.2
4         1119   6.4        1   G2       t3    0.0

In [17]:
# Keep only relevant columns
columns_to_keep = ['chemical.id', 'conc', 'plate.id', 'well', 'variable', 'value']
df_select = df_behav.loc[:,columns_to_keep]

df_select['chemical.id'] = df_select['chemical.id'].astype(str)
# this recasting is needed for "df_select_1846 = df_select.loc[df_select['chemical.id'] == '1846',:]" later

display("number of unique variables:" + str(len(np.unique(df_select['variable']))))
display("number of chemical IDs:" + str(len(np.unique(df_select['chemical.id']))))

'number of unique variables:15'

'number of chemical IDs:148'

In [21]:
# recast some types

start_time = time.time()
       
def fix(chemical_index, df_select, df_fixed):

    df_per_chemical = df_select.loc[df_select['chemical.id'] == str(chemical_index),:]
    #print (df_per_chemical)

    try: # for chemical.id = 1846 
        df_per_chemical['plate.id'] = df_per_chemical['plate.id'].astype(float)
        df_per_chemical['plate.id'] = df_per_chemical['plate.id'].astype(int)    
    except: # for plate.id like TPP166-811...
        df_per_chemical['plate.id'] = df_per_chemical['plate.id'].astype(str)

    df_fixed = pd.concat([df_fixed, df_per_chemical])
    return df_fixed
########### end of def fix(chemical_index, df_select, df_fixed):

df_fixed = pd.DataFrame()

full_devel = "full"
#full_devel = "devel"

chemical_id_from_here = np.unique(df_behav['chemical.id'])

if (full_devel == "devel"):
    randomly_chosen = random.sample(set(chemical_id_from_here), 1)
    chemical_id_from_here = []
    for i in range(len(randomly_chosen)):
        chemical_id_from_here.append(randomly_chosen[i])

#chemical_id_from_here = ['471']

total_number_of_chemicals_to_processed = len(chemical_id_from_here)
number_of_chemicals_processed = 0

for chemical_index in chemical_id_from_here:
    print("chemical_index:" + str(chemical_index))
    df_fixed = fix(chemical_index, df_select, df_fixed)
    
    #number_of_chemicals_processed += 1
    #print_this = str(number_of_chemicals_processed) + " chemicals processed out of " + str(total_number_of_chemicals_to_processed)
    #print(print_this)

end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("recast some types is done. It took :"+str(time_took)) 
# took 12 seconds for minutes for 148 chemicals

chemical_index:163
chemical_index:165
chemical_index:172
chemical_index:176
chemical_index:197
chemical_index:332
chemical_index:337
chemical_index:338
chemical_index:339
chemical_index:342
chemical_index:355
chemical_index:357
chemical_index:362
chemical_index:363
chemical_index:370
chemical_index:373
chemical_index:380
chemical_index:395
chemical_index:396
chemical_index:401
chemical_index:403
chemical_index:413
chemical_index:421
chemical_index:470
chemical_index:471
chemical_index:472
chemical_index:481
chemical_index:557
chemical_index:560
chemical_index:581
chemical_index:585
chemical_index:599
chemical_index:606
chemical_index:607
chemical_index:702
chemical_index:740
chemical_index:951
chemical_index:1119
chemical_index:1167
chemical_index:1183
chemical_index:1187
chemical_index:1268
chemical_index:1271
chemical_index:1273
chemical_index:1310
chemical_index:1327
chemical_index:1363
chemical_index:1383
chemical_index:1391
chemical_index:1450
chemical_index:1454
chemical_index:1455
chemical_index:1532
chemical_index:1535
chemical_index:1540
chemical_index:1600
chemical_index:1606
chemical_index:1608
chemical_index:1627
chemical_index:1631
chemical_index:1664
chemical_index:1666
chemical_index:1677
chemical_index:1689
chemical_index:1694
chemical_index:1704
chemical_index:1706
chemical_index:1762
chemical_index:1764
chemical_index:1771
chemical_index:1790
chemical_index:1796
chemical_index:1807
chemical_index:1808
chemical_index:1809
chemical_index:1816
chemical_index:1827
chemical_index:1845
chemical_index:1846
chemical_index:1853
chemical_index:1890
chemical_index:1906
chemical_index:1912
chemical_index:1929
chemical_index:1944
chemical_index:1961
chemical_index:1968
chemical_index:1982
chemical_index:2098
chemical_index:2103
chemical_index:2104
chemical_index:2105
chemical_index:2137
chemical_index:2141
chemical_index:2154
chemical_index:2156
chemical_index:2159
chemical_index:2165
chemical_index:2185
chemical_index:2186
chemical_index:2187
chemical_index:2191
chemical_index:2371
chemical_index:2373
chemical_index:2374
chemical_index:2406
chemical_index:2411
chemical_index:2413
chemical_index:2414
chemical_index:2415
chemical_index:2417
chemical_index:2432
chemical_index:2467
chemical_index:2496
chemical_index:2506
chemical_index:2573
chemical_index:2596
chemical_index:2638
chemical_index:2655
chemical_index:2657
chemical_index:2661
chemical_index:2686
chemical_index:2688
chemical_index:2691
chemical_index:2706
chemical_index:2723
chemical_index:2726
chemical_index:2743
chemical_index:2752
chemical_index:2772
chemical_index:2827
chemical_index:2849
chemical_index:2877
chemical_index:2886
chemical_index:2893
chemical_index:2896
chemical_index:2960
chemical_index:2989
chemical_index:3009
chemical_index:3012
chemical_index:3022
chemical_index:3055
chemical_index:3104
chemical_index:3127
chemical_index:3139
chemical_index:3160
chemical_index:3168
chemical_index:3169
recast some types is done. It took :8.1 seconds

In [22]:
display(df_fixed.head())

      chemical.id   conc plate.id well variable  value
63360         163  0.000        1   G6       t3  131.0
63361         163  0.064        2   H4       t3   25.1
63362         163  0.064        2   G4       t3    0.0
63363         163  0.064        2  F10       t3   93.1
63364         163  0.064        2   F4       t3    1.1

In [ ]:
### Transpose time points 

start_time = time.time()
       
def reformat(chemical_index, df_fixed, reformatted):
    df_per_chemical = df_fixed.loc[df_fixed['chemical.id'] == str(chemical_index),:]
    #print (df_per_chemical)

    # Append chemical_plate_well as a unique identifier
    # takes long time (1 min?)
    df_per_chemical.insert(0, 'chemical_plate_well', df_per_chemical.loc[:,['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1))
    
    for cpw in np.unique(df_per_chemical.chemical_plate_well):
        #print (str(cpw))
        df_per_cpw = df_per_chemical.loc[df_per_chemical.chemical_plate_well == cpw,:]
        df_per_cpw_grouped = df_per_cpw.groupby(['chemical.id', 'plate.id', 'well'])
        for name, group in df_per_cpw_grouped:
            #print ("name:"+str(name))
            #print ("group:"+str(group))
            concat_this = pd.DataFrame(
                    {
                    'chemical.id': np.unique(df_per_cpw['chemical.id']),
                    'plate.id': np.unique(df_per_cpw['plate.id']),
                    'well': np.unique(df_per_cpw['well']),
                    'chemical_plate_well': np.unique(df_per_cpw['chemical_plate_well']),
                    'conc': np.unique(df_per_cpw['conc'])
                    })
            
            # rename endpoint columns if this is for 15 endpoints
            for time_point in np.arange(len(np.unique(group.variable))):
                #print ("np.unique(group.variable):"+str(np.unique(group.variable)))
                if (len(np.unique(group.variable)) == 15):
                    time_point = time_point + 3
                variable = 't'+ str(time_point)
                #print ("\nvariable:"+str(variable))
                concat_this = pd.concat([concat_this, pd.DataFrame({variable: df_per_cpw.value[df_per_cpw.variable == variable].values})],axis = 1)
            reformatted = pd.concat([reformatted, concat_this])
    return reformatted
########### end of def reformat(chemical_index, df_fixed, reformatted):


reformatted = pd.DataFrame()

full_devel = "full"
#full_devel = "devel"

chemical_id_from_here = np.unique(df_behav['chemical.id'])

if (full_devel == "devel"):
    randomly_chosen = random.sample(set(chemical_id_from_here), 1)
    chemical_id_from_here = []
    for i in range(len(randomly_chosen)):
        chemical_id_from_here.append(randomly_chosen[i])

#chemical_id_from_here = ['1846']
#chemical_id_from_here = ['471']

total_number_of_chemicals_to_processed = len(chemical_id_from_here)
number_of_chemicals_processed = 0

for chemical_index in chemical_id_from_here:
    print("chemical_index:" + str(chemical_index))
    reformatted = reformat(chemical_index, df_fixed, reformatted)
    
    number_of_chemicals_processed += 1
    print_this = str(number_of_chemicals_processed) + " chemicals processed out of " + str(total_number_of_chemicals_to_processed)
    print(print_this)

end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("transposing time points is done. It took :"+str(time_took)) 
# took 5 minutes for 148 chemicals

chemical_index:163
1 chemicals processed out of 148
chemical_index:165
2 chemicals processed out of 148
chemical_index:172
3 chemicals processed out of 148
chemical_index:176
4 chemicals processed out of 148
chemical_index:197
5 chemicals processed out of 148
chemical_index:332
6 chemicals processed out of 148
chemical_index:337
7 chemicals processed out of 148
chemical_index:338
8 chemicals processed out of 148
chemical_index:339
9 chemicals processed out of 148
chemical_index:342
10 chemicals processed out of 148
chemical_index:355
11 chemicals processed out of 148
chemical_index:357
12 chemicals processed out of 148
chemical_index:362
13 chemicals processed out of 148
chemical_index:363
14 chemicals processed out of 148
chemical_index:370
15 chemicals processed out of 148
chemical_index:373
16 chemicals processed out of 148
chemical_index:380
17 chemicals processed out of 148
chemical_index:395
18 chemicals processed out of 148
chemical_index:396
19 chemicals processed out of 148
chemical_index:401
20 chemicals processed out of 148
chemical_index:403
21 chemicals processed out of 148
chemical_index:413
22 chemicals processed out of 148
chemical_index:421
23 chemicals processed out of 148
chemical_index:470
24 chemicals processed out of 148
chemical_index:471
25 chemicals processed out of 148
chemical_index:472
26 chemicals processed out of 148
chemical_index:481
27 chemicals processed out of 148
chemical_index:557
28 chemicals processed out of 148
chemical_index:560
29 chemicals processed out of 148
chemical_index:581
30 chemicals processed out of 148
chemical_index:585
31 chemicals processed out of 148
chemical_index:599
32 chemicals processed out of 148
chemical_index:606
33 chemicals processed out of 148
chemical_index:607
34 chemicals processed out of 148
chemical_index:702
35 chemicals processed out of 148
chemical_index:740
36 chemicals processed out of 148
chemical_index:951
37 chemicals processed out of 148
chemical_index:1119
38 chemicals processed out of 148
chemical_index:1167
39 chemicals processed out of 148
chemical_index:1183
40 chemicals processed out of 148
chemical_index:1187
41 chemicals processed out of 148
chemical_index:1268
42 chemicals processed out of 148
chemical_index:1271
43 chemicals processed out of 148
chemical_index:1273
44 chemicals processed out of 148
chemical_index:1310
45 chemicals processed out of 148
chemical_index:1327
46 chemicals processed out of 148
chemical_index:1363

In [28]:
display(reformatted.head())

,chemical.id,plate.id,well,chemical_plate_well,conc,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,t16,t17
0,1608,1,A1,1608_1_A1,64.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,1608,1,A10,1608_1_A10,0.0640,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,1608,1,A11,1608_1_A11,0.0064,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,1608,1,A12,1608_1_A12,0.0000,42.8,75.0,54.3,79.8,39.0,27.1,28.5,49.7,36.9,49.9,42.2,32.3,52.2,66.1,30.6
0,1608,1,A2,1608_1_A2,6.4000,49.5,23.6,2.9,84.7,85.3,98.5,105.1,174.8,164.6,120.7,55.2,149.5,26.5,62.3,48.7

In [12]:
'''
nan = df_select[df_select['value'].isna()]
display(nan.head())

# [phase III] there is no nan in 'chemical.id', 'conc', 'plate.id', 'well', 'variable'

display("before dropna, len(behav_select):"+str(len(df_select)))
df_select = df_select.dropna(how='any')
display("after dropna,  len(behav_select):"+str(len(df_select)))

display(df_select.head())

# phase I & II -> dropped some
# phase III    -> dropped many
'''

'\nnan = df_select[df_select[\'value\'].isna()]\ndisplay(nan.head())\n\n# [phase III] there is no nan in \'chemical.id\', \'conc\', \'plate.id\', \'well\', \'variable\'\n\ndisplay("before dropna, len(behav_select):"+str(len(df_select)))\ndf_select = df_select.dropna(how=\'any\')\ndisplay("after dropna,  len(behav_select):"+str(len(df_select)))\n\ndisplay(df_select.head())\n\n# phase I & II -> dropped some\n# phase III    -> dropped many\n'

In [ ]:
''' # basic check of variable #
full_devel = "full"
#full_devel = "devel"

if (full_devel == "full"):
    chemical_id_from_here = np.unique(behav_select['chemical.id'])
else: # full_devel = "devel"
    chemical_id_from_here = np.unique([234])
    
for chemical_index in chemical_id_from_here:
    behav_per_chemical = behav_select.loc[behav_select['chemical.id'] == chemical_index,:]
    print("chemical_index:" + str(chemical_index))

    variables = np.unique(behav_per_chemical['variable'])
    print("variables:" + str(variables))
#    variable_splited = variable.split("t")
    
 #   print (min(variable_splited[1]))
    var_len = len(np.unique(behav_per_chemical['variable']))
    if (var_len != 15):
        display("number of variable:" + str(len(np.unique(behav_per_chemical['variable']))))
'''

In [69]:
'''df_fixed_1846 = df_fixed.loc[df_fixed['chemical.id'] == '1846',:]
display(df_fixed_1846.head())
#df_select_1846.to_csv("df_select_1846.csv",index=False)
#display(np.unique(df_select_1846['plate.id']))
display(df_fixed_1846['plate.id'])'''

       chemical.id   conc plate.id well variable  value
129600        1846   0.00        1   H6       t3   35.7
129601        1846   0.00        2  D12       t3    0.0
129602        1846   0.64        2   F9       t3    0.0
129603        1846  64.00        1   C1       t3    0.0
129604        1846   0.00        2  C12       t3    0.0

129600    1
129601    2
129602    2
129603    1
129604    2
         ..
132475    2
132476    2
132477    2
132478    2
132479    1
Name: plate.id, Length: 2880, dtype: object

In [71]:
'''df_select_471 = df_fixed.loc[df_fixed['chemical.id'] == '471',:]
display(df_select_471.head())
#df_select_1846.to_csv("df_select_1846.csv",index=False)
display(np.unique(df_select_471['plate.id']))
'''

       chemical.id  conc plate.id well variable  value
388800         471   6.4        2   H2       t3    0.0
388801         471   0.0        1  E12       t3    0.0
388802         471  64.0        1   B1       t3    0.0
388803         471   6.4        2   B2       t3    3.9
388804         471   0.0        2  E12       t3   34.6

array([1, 2], dtype=object)

In [79]:
reformatted_data_filename = str(complete_input_file_path[:-9]) + "_wide_t3_t17_" + str(full_devel) + ".csv"
display ("reformatted_data_filename:", reformatted_data_filename)
reformatted.to_csv(reformatted_data_filename,index=False)

'reformatted_data_filename:'

'/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/after_Lisa_fix/full/15_endpoints/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed_full_w_15_endp_wide_t3_t17_full.csv'

In [80]:
display(len(np.unique(reformatted['chemical.id'])))
#display(len(np.unique(reformatted_w_non_240_endpoints['chemical.id'])))

KeyError: 'chemical.id'