In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import os, random, re, shutil, subprocess, sys, time

from matplotlib.pyplot import figure

from platform import python_version

print(python_version())

from scipy import stats

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

#mac
util_path = "/Users/kimd999/Dropbox/script/python/srpAnalytics/code/latest/util"
sys.path.insert(0, util_path)

3.7.8

In [2]:
starting_dir = os.getcwd()
print (starting_dir)

/Users/kimd999/Dropbox/script/python/srpAnalytics/code/latest/2_bmd/1_before_bmd

In [3]:
# mac       - extracts
wide_file_path = '/Users/kimd999/research/projects/Katrina/per_each_data/extracts/input/latest/wide/ZF_120_SRP_Sample_Extracts_with_Dilution_Factors_2021MAY21_wide_DNC_0.csv'

df = pd.read_csv(wide_file_path, header = 0)
df.head()

,chemical.id,plate.id,well,chemical_plate_well,conc,AXIS,BRAI,CFIN,CIRC,DNC_,...,PE__,PFIN,PIG_,SM24,SNOU,SOMI,SWIM,TRUN,TR__,YSE_
0,101,10021,A01,101_10021_A01,0.0100,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101,10021,A02,101_10021_A02,0.0050,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,101,10021,A03,101_10021_A03,0.0025,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,101,10021,A04,101_10021_A04,0.0010,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,101,10021,A05,101_10021_A05,0.0001,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
## leave certain chemical only
df_per_this_chemical_id = df.loc[df['chemical.id'] == 799]

plate_id_from_here = np.unique(df_per_this_chemical_id['plate.id'])
for plate_id in plate_id_from_here:
    print(f"plate_id:{plate_id}\n")

    df_per_this_chemical_id_plate_id = df_per_this_chemical_id.loc[df_per_this_chemical_id['plate.id'] == plate_id]

    #print(f"df_per_this_chemical_id_plate_id\n:{df_per_this_chemical_id_plate_id}\n")
    
    df_filename = wide_file_path[:-4] + "_chemical_799_plate_"+ str(plate_id) + ".csv"
    df_per_this_chemical_id_plate_id.to_csv(df_filename, index=False)

plate_id:9246

plate_id:9247

In [4]:
a=b

NameError: name 'b' is not defined

In [ ]:
# mac       - phase I, II, III - LPR - after_merging - 240 timepoints in min
complete_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II_III/LPR/input/phase_I_II_III_LPR_240_timepoints_morpho_filtered_min.csv'
# 383 unique chemicals, 923 unique plates

df_lpr_min = pd.read_csv(complete_file_path, header = 0)
df_lpr_min.head()
#df_LPR.shape # (72826, 29)

In [ ]:
## leave 1155 chemical only (caused a problem)
df_lpr_min_per_1155_chemical_id = df_lpr_min.loc[df_lpr_min['chemical.id'] == 1155]

plate_id_from_here = np.unique(df_lpr_min_per_1155_chemical_id['plate.id'])
for plate_id in plate_id_from_here:
    print(f"plate_id:{plate_id}\n")

    df_lpr_min_per_1155_chemical_id_plate_id = df_lpr_min_per_1155_chemical_id.loc[df_lpr_min_per_1155_chemical_id['plate.id'] == plate_id]
#        df_lpr_min_per_chemical_id_plate_id_t_only = pd.DataFrame(df_lpr_min_per_chemical_id_plate_id.iloc[:,4:28])

    print(f"df_lpr_min_per_1155_chemical_id_plate_id:{df_lpr_min_per_1155_chemical_id_plate_id}\n")