In [ ]:
##### overall explanation
# 1. reformat LPR data to have t0-t239
# 2. reformat EPR data to have t1-t49

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, time

import warnings
warnings.filterwarnings('ignore')

In [3]:
starting_dir = os.getcwd()
print (starting_dir)

/Users/kimd999/research/script_not_in_dropbox/srpAnalytics/analysis/latest/1_reformat/phase_I_II/behavior

### Reformat LPR behavioral data

In [4]:
#mac
complete_input_file_path= '/Users/kimd999/research/projects/toxicity/per_each_data/Phase_I_II/input/behavioral/tall/tall_344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX.csv'

#constance
#complete_input_file_path = '/people/kimd999/tox/phase_I_II/data/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX.csv'

behav_all_data = pd.read_csv(complete_input_file_path, header = 0)
#behav_all_data.head()

In [5]:
chemical_id_count = 0
for chemical_id in np.unique(behav_all_data['chemical.id']):
    chemical_id_count += 1
print ("chemical_id_count:"+str(chemical_id_count))

chemical_id_count:344

In [6]:
#len(behav_all_data)

In [7]:
#TX_bottle_id_behav_all_data = behav_all_data[behav_all_data['bottle.id'].str.contains("^TX")]
#TX_bottle_id_behav_all_data.head()

In [8]:
#len(TX_bottle_id_behav_all_data)

In [9]:
##### (start) replace plate.id in behavioral data with plate.id in morphological data (common data will be bottle.id)

#mac
#complete_morph_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/Phase_I_II/input/morphology/tall/zf_morphology_data_335_chemicals_2020DEC16.csv'

#constance
#complete_morph_file_path = '/people/kimd999/tox/phase_I_II_close_file_frequently/data/zf_morphology_data_335_chemicals_2020DEC16.csv'

#morph_all_data = pd.read_csv(complete_morph_file_path, header = 0)
#morph_all_data.head()

In [10]:
'''chemical_id_count = 0
for chemical_id in np.unique(morph_all_data['chemical.id']):
    chemical_id_count += 1
print ("chemical_id_count:"+str(chemical_id_count))
'''

'chemical_id_count = 0\nfor chemical_id in np.unique(morph_all_data[\'chemical.id\']):\n    chemical_id_count += 1\nprint ("chemical_id_count:"+str(chemical_id_count))\n'

In [11]:
#len(morph_all_data)

In [12]:
#TX_bottle_id_morph_all_data = morph_all_data[morph_all_data['bottle.id'].str.contains("^TX")]
#TX_bottle_id_morph_all_data.head()

In [13]:
#len(TX_bottle_id_morph_all_data)

In [14]:
#new_behav_all_data = TX_bottle_id_behav_all_data.loc[TX_bottle_id_morph_all_data['bottle.id'],['chemical.id', 'bottle.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']]

In [15]:
##### (end) replace plate.id in behavioral data with plate.id in morphological data (common data will be bottle.id)

In [16]:
#new_behav_all_data = behav_all_data.loc[behav_all_data['bottle.id'] == "TX002271",['chemical.id', 'bottle.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']]

In [17]:
#new_behav_all_data.head()

In [18]:
# Keep only relevant columns
columns_to_keep = ['chemical.id', 'conc', 'plate.id', 'well', 'endpoint', 'value']
behav_all_data_select = behav_all_data.loc[:,columns_to_keep]
behav_all_data_select.head()

   chemical.id  conc     plate.id well endpoint  value
0         2752  0.64  TP972-H6-P1   B3       t3    0.4
1         2752  0.64  TP972-H6-P1   F3       t3    0.0
2         2752  6.40  TP972-H6-P1   B8       t3   37.5
3         2752  0.64  TP972-H6-P1   C3       t3    0.0
4         2752  0.64  TP972-H6-P1   F3       t3    0.0

In [19]:
chemical_id_count = 0
for chemical_id in np.unique(behav_all_data_select['chemical.id']):
    chemical_id_count += 1
print ("chemical_id_count:"+str(chemical_id_count))

chemical_id_count:344

In [20]:
#display(np.unique(behav_all_data['endpoint']))

In [21]:
#display(np.unique(behav_all_data_select['endpoint']))

In [22]:
'''
reformat_data = pd.DataFrame()

for chemical_index in np.unique(behav_all_data['chemical.id']):
    behav_data_chemical = behav_all_data_select.loc[behav_all_data['chemical.id'] == chemical_index,:]
    print(chemical_index)
    # Append chemical_plate_well as a unique identifier
    behav_data_chemical.insert(0, 'chemical_plate_well', behav_data_chemical.loc[:,['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1))
    
    for cpw in np.unique(behav_data_chemical.chemical_plate_well):
        temp_df = behav_data_chemical.loc[behav_data_chemical.chemical_plate_well == cpw,:]
        temp_df_grouped = temp_df.groupby(['chemical.id', 'plate.id', 'well'])
        for name, group in temp_df_grouped:
            if(len(group.endpoint) == 15):
                temp = pd.DataFrame(
                        {
                        'chemical.id': np.unique(temp_df['chemical.id']),
                        'plate.id': np.unique(temp_df['plate.id']),
                        'well': np.unique(temp_df['well']),
                        'chemical_plate_well': np.unique(temp_df['chemical_plate_well']),
                        'conc': np.unique(temp_df['conc']),
                        't3': temp_df.value[temp_df.endpoint == 't3'].values,
                        't4': temp_df.value[temp_df.endpoint == 't4'].values,
                        't5': temp_df.value[temp_df.endpoint == 't5'].values,
                        't6': temp_df.value[temp_df.endpoint == 't6'].values,
                        't7': temp_df.value[temp_df.endpoint == 't7'].values,
                        't8': temp_df.value[temp_df.endpoint == 't8'].values,
                        't9': temp_df.value[temp_df.endpoint == 't9'].values,
                        't10': temp_df.value[temp_df.endpoint == 't10'].values,
                        't11': temp_df.value[temp_df.endpoint == 't11'].values,
                        't12': temp_df.value[temp_df.endpoint == 't12'].values,
                        't13': temp_df.value[temp_df.endpoint == 't13'].values,
                        't14': temp_df.value[temp_df.endpoint == 't14'].values,
                        't15': temp_df.value[temp_df.endpoint == 't15'].values,
                        't16': temp_df.value[temp_df.endpoint == 't16'].values,
                        't17': temp_df.value[temp_df.endpoint == 't17'].values,
                        }
                            )
                reformat_data = pd.concat([reformat_data, temp])'''

"\nreformat_data = pd.DataFrame()\n\nfor chemical_index in np.unique(behav_all_data['chemical.id']):\n    behav_data_chemical = behav_all_data_select.loc[behav_all_data['chemical.id'] == chemical_index,:]\n    print(chemical_index)\n    # Append chemical_plate_well as a unique identifier\n    behav_data_chemical.insert(0, 'chemical_plate_well', behav_data_chemical.loc[:,['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1))\n    \n    for cpw in np.unique(behav_data_chemical.chemical_plate_well):\n        temp_df = behav_data_chemical.loc[behav_data_chemical.chemical_plate_well == cpw,:]\n        temp_df_grouped = temp_df.groupby(['chemical.id', 'plate.id', 'well'])\n        for name, group in temp_df_grouped:\n            if(len(group.endpoint) == 15):\n                temp = pd.DataFrame(\n                        {\n                        'chemical.id': np.unique(temp_df['chemical.id']),\n                        'plate.id': np.unique(temp_df['plate.id']),\n                        'well': np.unique(temp_df['well']),\n                        'chemical_plate_well': np.unique(temp_df['chemical_plate_well']),\n                        'conc': np.unique(temp_df['conc']),\n                        't3': temp_df.value[temp_df.endpoint == 't3'].values,\n                        't4': temp_df.value[temp_df.endpoint == 't4'].values,\n                        't5': temp_df.value[temp_df.endpoint == 't5'].values,\n                        't6': temp_df.value[temp_df.endpoint == 't6'].values,\n                        't7': temp_df.value[temp_df.endpoint == 't7'].values,\n                        't8': temp_df.value[temp_df.endpoint == 't8'].values,\n                        't9': temp_df.value[temp_df.endpoint == 't9'].values,\n                        't10': temp_df.value[temp_df.endpoint == 't10'].values,\n                        't11': temp_df.value[temp_df.endpoint == 't11'].values,\n                        't12': temp_df.value[temp_df.endpoint == 't12'].values,\n                        't13': temp_df.value[temp_df.endpoint == 't13'].values,\n                        't14': temp_df.value[temp_df.endpoint == 't14'].values,\n                        't15': temp_df.value[temp_df.endpoint == 't15'].values,\n                        't16': temp_df.value[temp_df.endpoint == 't16'].values,\n                        't17': temp_df.value[temp_df.endpoint == 't17'].values,\n                        }\n                            )\n                reformat_data = pd.concat([reformat_data, temp])"

In [23]:
#reformat_data.head()

In [24]:
#reformat_data.shape

In [25]:
#reformat_data.to_csv('Phase_I_II_t3_t17_LPR.csv',index=False)

In [26]:
###### replace plate id with what is listed in the morphology data to the LPR.
###### for your example, TP967-E9-P1, will go in place of plate.id “1” in the LPR file.

# read morpho data and match/join

### t0_t239 time points

In [ ]:
start_time = time.time()

reformatted_data = pd.DataFrame()
max_time = 240
    
#full_devel = "full"
full_devel = "devel"

if (full_devel == "full"):
    # all chemicals
    chemical_id_from_here = np.unique(behav_all_data['chemical.id'])
else: # full_devel = "devel"
    #chemical_id_from_here = np.unique([53,54])
    chemical_id_from_here = np.unique([155,163])

    
for chemical_index in chemical_id_from_here:
    behav_data_chemical = behav_all_data_select.loc[behav_all_data['chemical.id'] == chemical_index,:]
    print("chemical_index:" + str(chemical_index))
    # Append chemical_plate_well as a unique identifier
    behav_data_chemical.insert(0, 'chemical_plate_well', behav_data_chemical.loc[:,['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1))
    
    for cpw in np.unique(behav_data_chemical.chemical_plate_well):
        temp_df = behav_data_chemical.loc[behav_data_chemical.chemical_plate_well == cpw,:]
        #display(temp_df.head())
        temp_df_grouped = temp_df.groupby(['chemical.id', 'plate.id', 'well'])
        #display(temp_df_grouped.head())
        for name, group in temp_df_grouped:
            print ("group.endpoint:"+str(group.endpoint))
            print ("len(group.endpoint):"+str(len(group.endpoint)))
            if(len(group.endpoint) == 240): # because we are dealing t0-t239
                temp = pd.DataFrame(
                        {
                        'chemical.id': np.unique(temp_df['chemical.id']),
                        'plate.id': np.unique(temp_df['plate.id']),
                        'well': np.unique(temp_df['well']),
                        'chemical_plate_well': np.unique(temp_df['chemical_plate_well']),
                        'conc': np.unique(temp_df['conc'])
                        })
                #print(temp.head())
                # Append additonal columns corresponding to time points
                for time_point in np.arange(max_time):
                    end_point = 't'+ str(time_point)
                    temp = pd.concat([temp, pd.DataFrame({end_point: temp_df.value[temp_df.endpoint == end_point].values})],axis = 1)
                #print(temp.head())
                reformatted_data = pd.concat([reformatted_data, temp])

end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("Done, it took:"+str(time_took)) 
# took 2 minutes for 2 chemicals

chemical_index:155
group.endpoint:4233406       t0
4264167       t1
4294928       t2
4325689       t3
4356450       t4
            ...
11462241    t235
11493002    t236
11523763    t237
11554524    t238
11585285    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233374       t0
4264135       t1
4294896       t2
4325657       t3
4356418       t4
            ...
11462209    t235
11492970    t236
11523731    t237
11554492    t238
11585253    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233342       t0
4264103       t1
4294864       t2
4325625       t3
4356386       t4
            ...
11462177    t235
11492938    t236
11523699    t237
11554460    t238
11585221    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233310       t0
4264071       t1
4294832       t2
4325593       t3
4356354       t4
            ...
11462145    t235
11492906    t236
11523667    t237
11554428    t238
11585189    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233278       t0
4264039       t1
4294800       t2
4325561       t3
4356322       t4
            ...
11462113    t235
11492874    t236
11523635    t237
11554396    t238
11585157    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233246       t0
4264007       t1
4294768       t2
4325529       t3
4356290       t4
            ...
11462081    t235
11492842    t236
11523603    t237
11554364    t238
11585125    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233407       t0
4264168       t1
4294929       t2
4325690       t3
4356451       t4
            ...
11462242    t235
11493003    t236
11523764    t237
11554525    t238
11585286    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233375       t0
4264136       t1
4294897       t2
4325658       t3
4356419       t4
            ...
11462210    t235
11492971    t236
11523732    t237
11554493    t238
11585254    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233343       t0
4264104       t1
4294865       t2
4325626       t3
4356387       t4
            ...
11462178    t235
11492939    t236
11523700    t237
11554461    t238
11585222    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233311       t0
4264072       t1
4294833       t2
4325594       t3
4356355       t4
            ...
11462146    t235
11492907    t236
11523668    t237
11554429    t238
11585190    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233279       t0
4264040       t1
4294801       t2
4325562       t3
4356323       t4
            ...
11462114    t235
11492875    t236
11523636    t237
11554397    t238
11585158    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233247       t0
4264008       t1
4294769       t2
4325530       t3
4356291       t4
            ...
11462082    t235
11492843    t236
11523604    t237
11554365    t238
11585126    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233408       t0
4264169       t1
4294930       t2
4325691       t3
4356452       t4
            ...
11462243    t235
11493004    t236
11523765    t237
11554526    t238
11585287    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233376       t0
4264137       t1
4294898       t2
4325659       t3
4356420       t4
            ...
11462211    t235
11492972    t236
11523733    t237
11554494    t238
11585255    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233344       t0
4264105       t1
4294866       t2
4325627       t3
4356388       t4
            ...
11462179    t235
11492940    t236
11523701    t237
11554462    t238
11585223    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233312       t0
4264073       t1
4294834       t2
4325595       t3
4356356       t4
            ...
11462147    t235
11492908    t236
11523669    t237
11554430    t238
11585191    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233280       t0
4264041       t1
4294802       t2
4325563       t3
4356324       t4
            ...
11462115    t235
11492876    t236
11523637    t237
11554398    t238
11585159    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233248       t0
4264009       t1
4294770       t2
4325531       t3
4356292       t4
            ...
11462083    t235
11492844    t236
11523605    t237
11554366    t238
11585127    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233409       t0
4264170       t1
4294931       t2
4325692       t3
4356453       t4
            ...
11462244    t235
11493005    t236
11523766    t237
11554527    t238
11585288    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233377       t0
4264138       t1
4294899       t2
4325660       t3
4356421       t4
            ...
11462212    t235
11492973    t236
11523734    t237
11554495    t238
11585256    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233345       t0
4264106       t1
4294867       t2
4325628       t3
4356389       t4
            ...
11462180    t235
11492941    t236
11523702    t237
11554463    t238
11585224    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233313       t0
4264074       t1
4294835       t2
4325596       t3
4356357       t4
            ...
11462148    t235
11492909    t236
11523670    t237
11554431    t238
11585192    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233281       t0
4264042       t1
4294803       t2
4325564       t3
4356325       t4
            ...
11462116    t235
11492877    t236
11523638    t237
11554399    t238
11585160    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233249       t0
4264010       t1
4294771       t2
4325532       t3
4356293       t4
            ...
11462084    t235
11492845    t236
11523606    t237
11554367    t238
11585128    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233410       t0
4264171       t1
4294932       t2
4325693       t3
4356454       t4
            ...
11462245    t235
11493006    t236
11523767    t237
11554528    t238
11585289    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233378       t0
4264139       t1
4294900       t2
4325661       t3
4356422       t4
            ...
11462213    t235
11492974    t236
11523735    t237
11554496    t238
11585257    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233346       t0
4264107       t1
4294868       t2
4325629       t3
4356390       t4
            ...
11462181    t235
11492942    t236
11523703    t237
11554464    t238
11585225    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233314       t0
4264075       t1
4294836       t2
4325597       t3
4356358       t4
            ...
11462149    t235
11492910    t236
11523671    t237
11554432    t238
11585193    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233282       t0
4264043       t1
4294804       t2
4325565       t3
4356326       t4
            ...
11462117    t235
11492878    t236
11523639    t237
11554400    t238
11585161    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233250       t0
4264011       t1
4294772       t2
4325533       t3
4356294       t4
            ...
11462085    t235
11492846    t236
11523607    t237
11554368    t238
11585129    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233411       t0
4264172       t1
4294933       t2
4325694       t3
4356455       t4
            ...
11462246    t235
11493007    t236
11523768    t237
11554529    t238
11585290    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233379       t0
4264140       t1
4294901       t2
4325662       t3
4356423       t4
            ...
11462214    t235
11492975    t236
11523736    t237
11554497    t238
11585258    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233347       t0
4264108       t1
4294869       t2
4325630       t3
4356391       t4
            ...
11462182    t235
11492943    t236
11523704    t237
11554465    t238
11585226    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233315       t0
4264076       t1
4294837       t2
4325598       t3
4356359       t4
            ...
11462150    t235
11492911    t236
11523672    t237
11554433    t238
11585194    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233283       t0
4264044       t1
4294805       t2
4325566       t3
4356327       t4
            ...
11462118    t235
11492879    t236
11523640    t237
11554401    t238
11585162    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233251       t0
4264012       t1
4294773       t2
4325534       t3
4356295       t4
            ...
11462086    t235
11492847    t236
11523608    t237
11554369    t238
11585130    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233412       t0
4264173       t1
4294934       t2
4325695       t3
4356456       t4
            ...
11462247    t235
11493008    t236
11523769    t237
11554530    t238
11585291    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233380       t0
4264141       t1
4294902       t2
4325663       t3
4356424       t4
            ...
11462215    t235
11492976    t236
11523737    t237
11554498    t238
11585259    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233348       t0
4264109       t1
4294870       t2
4325631       t3
4356392       t4
            ...
11462183    t235
11492944    t236
11523705    t237
11554466    t238
11585227    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233316       t0
4264077       t1
4294838       t2
4325599       t3
4356360       t4
            ...
11462151    t235
11492912    t236
11523673    t237
11554434    t238
11585195    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233284       t0
4264045       t1
4294806       t2
4325567       t3
4356328       t4
            ...
11462119    t235
11492880    t236
11523641    t237
11554402    t238
11585163    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233252       t0
4264013       t1
4294774       t2
4325535       t3
4356296       t4
            ...
11462087    t235
11492848    t236
11523609    t237
11554370    t238
11585131    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233413       t0
4264174       t1
4294935       t2
4325696       t3
4356457       t4
            ...
11462248    t235
11493009    t236
11523770    t237
11554531    t238
11585292    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233381       t0
4264142       t1
4294903       t2
4325664       t3
4356425       t4
            ...
11462216    t235
11492977    t236
11523738    t237
11554499    t238
11585260    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233349       t0
4264110       t1
4294871       t2
4325632       t3
4356393       t4
            ...
11462184    t235
11492945    t236
11523706    t237
11554467    t238
11585228    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233317       t0
4264078       t1
4294839       t2
4325600       t3
4356361       t4
            ...
11462152    t235
11492913    t236
11523674    t237
11554435    t238
11585196    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233285       t0
4264046       t1
4294807       t2
4325568       t3
4356329       t4
            ...
11462120    t235
11492881    t236
11523642    t237
11554403    t238
11585164    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233253       t0
4264014       t1
4294775       t2
4325536       t3
4356297       t4
            ...
11462088    t235
11492849    t236
11523610    t237
11554371    t238
11585132    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233414       t0
4264175       t1
4294936       t2
4325697       t3
4356458       t4
            ...
11462249    t235
11493010    t236
11523771    t237
11554532    t238
11585293    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233382       t0
4264143       t1
4294904       t2
4325665       t3
4356426       t4
            ...
11462217    t235
11492978    t236
11523739    t237
11554500    t238
11585261    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233350       t0
4264111       t1
4294872       t2
4325633       t3
4356394       t4
            ...
11462185    t235
11492946    t236
11523707    t237
11554468    t238
11585229    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233318       t0
4264079       t1
4294840       t2
4325601       t3
4356362       t4
            ...
11462153    t235
11492914    t236
11523675    t237
11554436    t238
11585197    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233286       t0
4264047       t1
4294808       t2
4325569       t3
4356330       t4
            ...
11462121    t235
11492882    t236
11523643    t237
11554404    t238
11585165    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233254       t0
4264015       t1
4294776       t2
4325537       t3
4356298       t4
            ...
11462089    t235
11492850    t236
11523611    t237
11554372    t238
11585133    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233415       t0
4264176       t1
4294937       t2
4325698       t3
4356459       t4
            ...
11462250    t235
11493011    t236
11523772    t237
11554533    t238
11585294    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233383       t0
4264144       t1
4294905       t2
4325666       t3
4356427       t4
            ...
11462218    t235
11492979    t236
11523740    t237
11554501    t238
11585262    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233351       t0
4264112       t1
4294873       t2
4325634       t3
4356395       t4
            ...
11462186    t235
11492947    t236
11523708    t237
11554469    t238
11585230    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233319       t0
4264080       t1
4294841       t2
4325602       t3
4356363       t4
            ...
11462154    t235
11492915    t236
11523676    t237
11554437    t238
11585198    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233287       t0
4264048       t1
4294809       t2
4325570       t3
4356331       t4
            ...
11462122    t235
11492883    t236
11523644    t237
11554405    t238
11585166    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233255       t0
4264016       t1
4294777       t2
4325538       t3
4356299       t4
            ...
11462090    t235
11492851    t236
11523612    t237
11554373    t238
11585134    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233416       t0
4264177       t1
4294938       t2
4325699       t3
4356460       t4
            ...
11462251    t235
11493012    t236
11523773    t237
11554534    t238
11585295    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233384       t0
4264145       t1
4294906       t2
4325667       t3
4356428       t4
            ...
11462219    t235
11492980    t236
11523741    t237
11554502    t238
11585263    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233352       t0
4264113       t1
4294874       t2
4325635       t3
4356396       t4
            ...
11462187    t235
11492948    t236
11523709    t237
11554470    t238
11585231    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233320       t0
4264081       t1
4294842       t2
4325603       t3
4356364       t4
            ...
11462155    t235
11492916    t236
11523677    t237
11554438    t238
11585199    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233288       t0
4264049       t1
4294810       t2
4325571       t3
4356332       t4
            ...
11462123    t235
11492884    t236
11523645    t237
11554406    t238
11585167    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233256       t0
4264017       t1
4294778       t2
4325539       t3
4356300       t4
            ...
11462091    t235
11492852    t236
11523613    t237
11554374    t238
11585135    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233417       t0
4264178       t1
4294939       t2
4325700       t3
4356461       t4
            ...
11462252    t235
11493013    t236
11523774    t237
11554535    t238
11585296    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233385       t0
4264146       t1
4294907       t2
4325668       t3
4356429       t4
            ...
11462220    t235
11492981    t236
11523742    t237
11554503    t238
11585264    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233353       t0
4264114       t1
4294875       t2
4325636       t3
4356397       t4
            ...
11462188    t235
11492949    t236
11523710    t237
11554471    t238
11585232    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233321       t0
4264082       t1
4294843       t2
4325604       t3
4356365       t4
            ...
11462156    t235
11492917    t236
11523678    t237
11554439    t238
11585200    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233289       t0
4264050       t1
4294811       t2
4325572       t3
4356333       t4
            ...
11462124    t235
11492885    t236
11523646    t237
11554407    t238
11585168    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233257       t0
4264018       t1
4294779       t2
4325540       t3
4356301       t4
            ...
11462092    t235
11492853    t236
11523614    t237
11554375    t238
11585136    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233418       t0
4264179       t1
4294940       t2
4325701       t3
4356462       t4
            ...
11462253    t235
11493014    t236
11523775    t237
11554536    t238
11585297    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233386       t0
4264147       t1
4294908       t2
4325669       t3
4356430       t4
            ...
11462221    t235
11492982    t236
11523743    t237
11554504    t238
11585265    t239
Name: endpoint, Length: 240, dtype: object
len(group.endpoint):240
group.endpoint:4233354       t0
4264115       t1
4294876       t2
4325637       t3
4356398       t4
            ...
11462189    t235

In [31]:
display(reformatted_data)

Empty DataFrame
Columns: []
Index: []

In [29]:
reformatted_data_filename = str(complete_input_file_path[:-4]) + "_wide_t0_t239_" + str(full_devel) + ".csv"
reformatted_data.to_csv(reformatted_data_filename,index=False)

In [30]:
len(np.unique(reformatted_data['chemical.id']))

KeyError: 'chemical.id'