In [46]:
# Basic analysis of phase I, II  morphology data before BMD calculation

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os, random, shutil, time
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

import sys

from datetime import datetime

In [47]:
starting_dir = os.getcwd()
print (starting_dir)

/Users/kimd999/research/script_not_in_dropbox/srpAnalytics/code/latest/2_bmd/1_before_bmd/compare phase_I_II and phase_III/morpho

In [49]:
# phase I, II morphology prepared for bmd calculation
complete_input_file_path= '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/morpho/wide/2_after_fixing_MO24/zf_morphology_data_335_chemicals_2020DEC16_fixed_wide_DNC_0_full.csv'
df_phase_I_II = pd.read_csv(complete_input_file_path, header = 0)

display(df_phase_I_II.head())

display (len(np.unique(df_phase_I_II['chemical.id'])))
#display (np.unique(df['chemical.id']))
display (type(np.unique(df_phase_I_II['chemical.id'])))

display (len(np.unique(df_phase_I_II['conc'])))
#display (np.unique(df_phase_I_II['conc']))

,chemical.id,plate.id,well,chemical_plate_well,conc,AXIS,BRAI,CFIN,CIRC,DNC_,...,PE__,PFIN,PIG_,SM24,SNOU,SOMI,SWIM,TRUN,TR__,YSE_
0,53,9289,A01,53_9289_A01,50.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,53,9289,A02,53_9289_A02,35.6,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,53,9289,A03,53_9289_A03,11.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,53,9289,A04,53_9289_A04,5.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,53,9289,A05,53_9289_A05,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

335

numpy.ndarray

146

In [ ]:
# phase III morphology very original from Oregon state
# complete_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/morpho/original/Tanguay_Phase_3_zf_morphology_data_PNNL_2021MAR23.csv'
# df = pd.read_csv(complete_input_file_path, header = 0)
# #print(df.columns)

# display(df.head())

# display (len(np.unique(df['chemical.id'])))
# #display (np.unique(df['chemical.id']))
# display (type(np.unique(df['chemical.id'])))

In [67]:
# phase III morphology prepared for bmd calculation
complete_input_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/morpho/full/wide/Tanguay_Phase_3_zf_morphology_data_PNNL_2021MAR23_full_w_all_endpoints.csv'
df_phase_III = pd.read_csv(complete_input_file_path, header = 0)
#print(df.columns)

display(df_phase_III.head())

df_phase_III_head = df_phase_III.head()
#display (type(df_phase_III_head)) # pandas.core.frame.DataFrame

#display (len(np.unique(df_phase_III['chemical.id'])))
#display (np.unique(df['chemical.id']))
#display (type(np.unique(df_phase_III['chemical.id']))) # numpy.ndarray

#df_phase_III = df_phase_III.dropna()
#df_phase_III['conc'].astype('int32').dtypes
#display (np.unique(df_phase_III['conc']))
#display (len(np.unique(df_phase_III['conc'])))

,chemical.id,plate.id,well,chemical_plate_well,conc,AXIS,BRN_,CRAN,DNC_,DP24,EDEM,LTRK,MO24,MORT,MUSC,NC__,SKIN,SM24,TCHR
0,725,21511,A01,725_21511_A01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,725,21511,A02,725_21511_A02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,725,21511,A03,725_21511_A03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,725,21511,A04,725_21511_A04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,725,21511,A05,725_21511_A05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
display(len(df_phase_III))
df_phase_III_na = df_phase_III[df_phase_III.isna().any(axis=1)]
display(df_phase_III_na.head())

61419

,chemical.id,plate.id,well,chemical_plate_well,conc,AXIS,BRN_,CRAN,DNC_,DP24,EDEM,LTRK,MO24,MORT,MUSC,NC__,SKIN,SM24,TCHR
5,725,21511,A06,725_21511_A06,0.00,NaN,NaN,NaN,0.0,1.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,0.0,NaN
106,725,21528,C01,725_21528_C01,100.00,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,0.0,NaN
111,725,21528,C06,725_21528_C06,1.23,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
162,725,21528,H06,725_21528_H06,1.23,NaN,NaN,NaN,0.0,1.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,0.0,NaN
245,726,21651,H05,726_21651_H05,3.70,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,0.0,NaN

In [69]:
display(len(df_phase_III.isna()))
display(df_phase_III.isna().head())

61419

,chemical.id,plate.id,well,chemical_plate_well,conc,AXIS,BRN_,CRAN,DNC_,DP24,EDEM,LTRK,MO24,MORT,MUSC,NC__,SKIN,SM24,TCHR
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [71]:
df_phase_III = df_phase_III.dropna()

In [73]:
start_time = time.time()
total_number_of_unique_chemicals = 0

for chemical_index in np.unique(df_phase_III['chemical.id']):
    
    total_number_of_unique_chemicals += 1
    if (chemical_index != 725):
        continue
    print("\nchemical_index:" + str(chemical_index))        
    
    df_phase_III_per_chemical = df_phase_III.loc[df_phase_III['chemical.id'] == chemical_index,:]
    
    for col in df_phase_III_per_chemical.columns:
        if (col != 'chemical.id') and (col != 'plate.id') and (col != 'well') and (col != 'chemical_plate_well')\
                                  and (col != 'conc')     and (col != 'DNC_'):
            
            print_this_common = "\nphase_III_morpho_chemical_" + str(chemical_index)
            
            print_this = print_this_common + "_endpoint_" + str(col) + "_mean:"
            print (print_this + str(round(np.mean(df_phase_III_per_chemical[col]),2)))
            
            print_this = print_this_common + "_endpoint_" + str(col) + "_median:"
            print (print_this + str(round(np.median(df_phase_III_per_chemical[col]),2)))
            
            print_this = print_this_common + "_endpoint_" + str(col) + "_max:"
            print (print_this + str(round(np.max(df_phase_III_per_chemical[col]),2)))
            
            print_this = print_this_common + "_endpoint_" + str(col) + "_min:"
            print (print_this + str(round(np.min(df_phase_III_per_chemical[col]),2)))

            print_this = print_this_common + "_endpoint_" + str(col) + "_std:"
            print (print_this + str(round(np.std(df_phase_III_per_chemical[col]),2)))


print ("\ntotal_number_of_unique_chemicals:" + str(total_number_of_unique_chemicals))


end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("Done, it took:"+str(time_took)) # took 13 minutes for 344 chemicals

chemical_index:725

phase_III_morpho_chemical_725_endpoint_AXIS_mean:0.01

phase_III_morpho_chemical_725_endpoint_AXIS_median:0.0

phase_III_morpho_chemical_725_endpoint_AXIS_max:1.0

phase_III_morpho_chemical_725_endpoint_AXIS_min:0.0

phase_III_morpho_chemical_725_endpoint_AXIS_std:0.08

phase_III_morpho_chemical_725_endpoint_BRN__mean:0.0

phase_III_morpho_chemical_725_endpoint_BRN__median:0.0

phase_III_morpho_chemical_725_endpoint_BRN__max:0.0

phase_III_morpho_chemical_725_endpoint_BRN__min:0.0

phase_III_morpho_chemical_725_endpoint_BRN__std:0.0

phase_III_morpho_chemical_725_endpoint_CRAN_mean:0.02

phase_III_morpho_chemical_725_endpoint_CRAN_median:0.0

phase_III_morpho_chemical_725_endpoint_CRAN_max:1.0

phase_III_morpho_chemical_725_endpoint_CRAN_min:0.0

phase_III_morpho_chemical_725_endpoint_CRAN_std:0.13

phase_III_morpho_chemical_725_endpoint_DP24_mean:0.01

phase_III_morpho_chemical_725_endpoint_DP24_median:0.0

phase_III_morpho_chemical_725_endpoint_DP24_max:1.0

phase_III_morpho_chemical_725_endpoint_DP24_min:0.0

phase_III_morpho_chemical_725_endpoint_DP24_std:0.11

phase_III_morpho_chemical_725_endpoint_EDEM_mean:0.02

phase_III_morpho_chemical_725_endpoint_EDEM_median:0.0

phase_III_morpho_chemical_725_endpoint_EDEM_max:1.0

phase_III_morpho_chemical_725_endpoint_EDEM_min:0.0

phase_III_morpho_chemical_725_endpoint_EDEM_std:0.13

phase_III_morpho_chemical_725_endpoint_LTRK_mean:0.0

phase_III_morpho_chemical_725_endpoint_LTRK_median:0.0

phase_III_morpho_chemical_725_endpoint_LTRK_max:0.0

phase_III_morpho_chemical_725_endpoint_LTRK_min:0.0

phase_III_morpho_chemical_725_endpoint_LTRK_std:0.0

phase_III_morpho_chemical_725_endpoint_MO24_mean:0.0

phase_III_morpho_chemical_725_endpoint_MO24_median:0.0

phase_III_morpho_chemical_725_endpoint_MO24_max:0.0

phase_III_morpho_chemical_725_endpoint_MO24_min:0.0

phase_III_morpho_chemical_725_endpoint_MO24_std:0.0

phase_III_morpho_chemical_725_endpoint_MORT_mean:0.0

phase_III_morpho_chemical_725_endpoint_MORT_median:0.0

phase_III_morpho_chemical_725_endpoint_MORT_max:0.0

phase_III_morpho_chemical_725_endpoint_MORT_min:0.0

phase_III_morpho_chemical_725_endpoint_MORT_std:0.0

phase_III_morpho_chemical_725_endpoint_MUSC_mean:0.01

phase_III_morpho_chemical_725_endpoint_MUSC_median:0.0

phase_III_morpho_chemical_725_endpoint_MUSC_max:1.0

phase_III_morpho_chemical_725_endpoint_MUSC_min:0.0

phase_III_morpho_chemical_725_endpoint_MUSC_std:0.08

phase_III_morpho_chemical_725_endpoint_NC___mean:0.0

phase_III_morpho_chemical_725_endpoint_NC___median:0.0

phase_III_morpho_chemical_725_endpoint_NC___max:0.0

phase_III_morpho_chemical_725_endpoint_NC___min:0.0

phase_III_morpho_chemical_725_endpoint_NC___std:0.0

phase_III_morpho_chemical_725_endpoint_SKIN_mean:0.0

phase_III_morpho_chemical_725_endpoint_SKIN_median:0.0

phase_III_morpho_chemical_725_endpoint_SKIN_max:0.0

phase_III_morpho_chemical_725_endpoint_SKIN_min:0.0

phase_III_morpho_chemical_725_endpoint_SKIN_std:0.0

phase_III_morpho_chemical_725_endpoint_SM24_mean:0.0

phase_III_morpho_chemical_725_endpoint_SM24_median:0.0

phase_III_morpho_chemical_725_endpoint_SM24_max:0.0

phase_III_morpho_chemical_725_endpoint_SM24_min:0.0

phase_III_morpho_chemical_725_endpoint_SM24_std:0.0

phase_III_morpho_chemical_725_endpoint_TCHR_mean:0.01

phase_III_morpho_chemical_725_endpoint_TCHR_median:0.0

phase_III_morpho_chemical_725_endpoint_TCHR_max:1.0

phase_III_morpho_chemical_725_endpoint_TCHR_min:0.0

phase_III_morpho_chemical_725_endpoint_TCHR_std:0.08

total_number_of_unique_chemicals:257
Done, it took:0.0 seconds

In [ ]:
# Goal of this box 
# -> (in df_lpr) leave only rows with non 1 and NA MORT

# Running time
# -> 8 seconds for 1 chemical

# 1. Append additional identifier column (Plate_Well value) to lpr and morphology data
# 2. Find rows in morphology data for which MORT end-point is not 1 or NA
# 3. Using Plate_Well values, find corresponding rows in lpr data to filter the data

# (ref)
# '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/latest/after_merging/tall/bifurcated/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed_merged_full_240_timepoints_cpw_added.csv'
# cpw added here already to save 23 minutes

start_time = time.time()

df_lpr['Chemical_Plate_WELL'] = df_lpr[['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1)
# used to take few minutes, but in 5/9/2021, it takes 23 minutes

display(df_lpr.head())
print("\ndf_lpr.shape:" + str(df_lpr.shape)) #(11,184,240, 7)


df_morph['Chemical_Plate_WELL'] = df_morph[['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1)
#display(df_morph.head())
#print("df_morph.shape:" + str(df_morph.shape)) # (69395, 29)

df_morpho_nonna_plate_well = df_morph.Chemical_Plate_WELL[~((df_morph.MORT == 1) | (df_morph.MORT.isnull()))]
#display(df_morpho_nonna_plate_well.head())
#print("df_morpho_nonna_plate_well.shape:" + str(df_morpho_nonna_plate_well.shape)) # (57558,)

df_lpr_filtered = df_lpr.loc[df_lpr['Chemical_Plate_WELL'].isin(list(df_morpho_nonna_plate_well.values))]
#display('df_lpr_filtered.head()',df_lpr_filtered.head())
print("df_lpr_filtered.shape:"+str(df_lpr_filtered.shape) + "\n") #(8,309,280, 7)

#display(df_morpho_nonna_plate_well[0:5])
print ("\n")
#display(df_lpr.Chemical_Plate_WELL[0:5])

end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("Done, it took:"+str(time_took)) # 8 seconds took for 1 chemical