In [10]:
# Basic analysis of phase I, II  morphology data before BMD calculation

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os, random, shutil, time
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

import sys

from datetime import datetime

In [11]:
starting_dir = os.getcwd()
print (starting_dir)

/Users/kimd999/research/script_not_in_dropbox/srpAnalytics/code/latest/2_bmd/1_before_bmd/compare phase_I_II and phase_III/morpho

In [45]:
# phase I, II morphology prepared for bmd calculation
complete_input_file_path= '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/morpho/wide/2_after_fixing_MO24/zf_morphology_data_335_chemicals_2020DEC16_fixed_wide_DNC_0_full.csv'
df_phase_I_II = pd.read_csv(complete_input_file_path, header = 0)

display(df_phase_I_II.head())

display (len(np.unique(df_phase_I_II['chemical.id'])))
#display (np.unique(df['chemical.id']))
display (type(np.unique(df_phase_I_II['chemical.id'])))

display (len(np.unique(df_phase_I_II['conc'])))
display (np.unique(df_phase_I_II['conc']))

,chemical.id,plate.id,well,chemical_plate_well,conc,AXIS,BRAI,CFIN,CIRC,DNC_,...,PE__,PFIN,PIG_,SM24,SNOU,SOMI,SWIM,TRUN,TR__,YSE_
0,53,9289,A01,53_9289_A01,50.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,53,9289,A02,53_9289_A02,35.6,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,53,9289,A03,53_9289_A03,11.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,53,9289,A04,53_9289_A04,5.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,53,9289,A05,53_9289_A05,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

335

numpy.ndarray

146

array([0.000e+00, 1.000e-04, 2.150e-04, 4.640e-04, 1.000e-03, 2.150e-03,
       2.800e-03, 3.000e-03, 3.200e-03, 3.300e-03, 4.100e-03, 4.640e-03,
       5.900e-03, 6.000e-03, 6.100e-03, 6.400e-03, 6.500e-03, 6.600e-03,
       1.000e-02, 1.190e-02, 1.560e-02, 1.980e-02, 1.990e-02, 2.820e-02,
       3.010e-02, 3.130e-02, 3.200e-02, 3.260e-02, 3.500e-02, 4.130e-02,
       4.640e-02, 5.860e-02, 6.000e-02, 6.050e-02, 6.140e-02, 6.250e-02,
       6.370e-02, 6.400e-02, 6.460e-02, 6.500e-02, 6.530e-02, 6.620e-02,
       1.000e-01, 1.110e-01, 1.250e-01, 2.150e-01, 2.500e-01, 2.816e-01,
       3.000e-01, 3.008e-01, 3.200e-01, 3.264e-01, 3.500e-01, 4.128e-01,
       4.640e-01, 5.000e-01, 5.856e-01, 6.048e-01, 6.144e-01, 6.368e-01,
       6.400e-01, 6.464e-01, 6.496e-01, 6.528e-01, 6.624e-01, 7.910e-01,
       1.000e+00, 1.080e+00, 1.110e+00, 1.120e+00, 1.410e+00, 2.000e+00,
       2.500e+00, 2.540e+00, 2.650e+00, 2.816e+00, 3.008e+00, 3.160e+00,
       3.200e+00, 3.264e+00, 3.500e+00, 3.560e+00, 3.870e+00, 4.128e+00,
       4.450e+00, 4.500e+00, 5.000e+00, 5.730e+00, 5.856e+00, 6.048e+00,
       6.144e+00, 6.368e+00, 6.400e+00, 6.450e+00, 6.464e+00, 6.496e+00,
       6.528e+00, 6.624e+00, 7.910e+00, 8.000e+00, 9.000e+00, 1.000e+01,
       1.110e+01, 1.120e+01, 1.230e+01, 1.390e+01, 1.410e+01, 1.640e+01,
       1.800e+01, 1.830e+01, 2.190e+01, 2.410e+01, 2.500e+01, 2.816e+01,
       3.000e+01, 3.008e+01, 3.200e+01, 3.264e+01, 3.340e+01, 3.400e+01,
       3.470e+01, 3.500e+01, 3.560e+01, 4.128e+01, 4.170e+01, 4.470e+01,
       5.000e+01, 5.100e+01, 5.856e+01, 5.940e+01, 5.980e+01, 6.042e+01,
       6.144e+01, 6.368e+01, 6.400e+01, 6.464e+01, 6.496e+01, 6.528e+01,
       6.624e+01, 6.700e+01, 6.730e+01, 7.480e+01, 7.700e+01, 8.000e+01,
       8.370e+01, 1.000e+02])

In [ ]:
# phase III morphology very original from Oregon state
# complete_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/morpho/original/Tanguay_Phase_3_zf_morphology_data_PNNL_2021MAR23.csv'
# df = pd.read_csv(complete_input_file_path, header = 0)
# #print(df.columns)

# display(df.head())

# display (len(np.unique(df['chemical.id'])))
# #display (np.unique(df['chemical.id']))
# display (type(np.unique(df['chemical.id'])))

In [44]:
# phase III morphology prepared for bmd calculation
complete_input_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_III/input/morpho/full/wide/Tanguay_Phase_3_zf_morphology_data_PNNL_2021MAR23_full_w_all_endpoints.csv'
df_phase_III = pd.read_csv(complete_input_file_path, header = 0)
#print(df.columns)

display(df_phase_III.head())

df_phase_III_head = df_phase_III.head()
display (type(df_phase_III_head))

display (len(np.unique(df_phase_III['chemical.id'])))
#display (np.unique(df['chemical.id']))
display (type(np.unique(df_phase_III['chemical.id'])))

#df_phase_III = df_phase_III.dropna()
#df_phase_III['conc'].astype('int32').dtypes
display (np.unique(df_phase_III['conc']))
display (len(np.unique(df_phase_III['conc'])))

,chemical.id,plate.id,well,chemical_plate_well,conc,AXIS,BRN_,CRAN,DNC_,DP24,EDEM,LTRK,MO24,MORT,MUSC,NC__,SKIN,SM24,TCHR
0,725,21511,A01,725_21511_A01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,725,21511,A02,725_21511_A02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,725,21511,A03,725_21511_A03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,725,21511,A04,725_21511_A04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,725,21511,A05,725_21511_A05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

pandas.core.frame.DataFrame

257

numpy.ndarray

array([0.00e+00, 9.69e-04, 1.94e-03, 4.18e-03, 4.50e-03, 6.96e-03,
       9.00e-03, 1.50e-02, 1.94e-02, 2.09e-02, 3.23e-02, 4.18e-02,
       4.60e-02, 6.96e-02, 9.00e-02, 9.69e-02, 1.00e-01, 1.40e-01,
       1.50e-01, 1.94e-01, 4.10e-01, 4.50e-01, 5.00e-01, 1.00e+00,
       1.23e+00, 2.00e+00, 2.09e+00, 3.70e+00, 4.50e+00, 5.00e+00,
       9.00e+00, 1.11e+01, 1.80e+01, 1.83e+01, 2.50e+01, 3.33e+01,
       3.34e+01, 3.40e+01, 3.47e+01, 4.17e+01, 4.47e+01, 5.00e+01,
       5.10e+01, 5.98e+01, 6.65e+01, 6.70e+01, 6.73e+01, 8.00e+01,
       8.37e+01, 1.00e+02])

50

In [26]:
#print (df_phase_I_II.compare(df_phase_III_head))
#print (df_phase_III.compare(df_phase_III))

In [37]:
start_time = time.time()
total_number_of_unique_chemicals = 0

for chemical_index in np.unique(df_phase_III['chemical.id']):
    
    total_number_of_unique_chemicals += 1
    if (chemical_index != 725):
        continue
    print("\nchemical_index:" + str(chemical_index))        
    
    df_phase_III_per_chemical = df_phase_III.loc[df_phase_III['chemical.id'] == chemical_index,:]
    
    for col in df_phase_III_per_chemical.columns:
        if (col != 'chemical.id') and (col != 'plate.id') and (col != 'well') and (col != 'chemical_plate_well')\
                                  and (col != 'conc')     and (col != 'DNC_'):
            print(col)
            print (df_phase_III_per_chemical[col])

print ("\ntotal_number_of_unique_chemicals:" + str(total_number_of_unique_chemicals))


end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("Done, it took:"+str(time_took)) # took 13 minutes for 344 chemicals

chemical_index:725
AXIS
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: AXIS, Length: 168, dtype: float64
BRN_
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: BRN_, Length: 168, dtype: float64
CRAN
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: CRAN, Length: 168, dtype: float64
DP24
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: DP24, Length: 168, dtype: float64
EDEM
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: EDEM, Length: 168, dtype: float64
LTRK
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: LTRK, Length: 168, dtype: float64
MO24
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: MO24, Length: 168, dtype: float64
MORT
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: MORT, Length: 168, dtype: float64
MUSC
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: MUSC, Length: 168, dtype: float64
NC__
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: NC__, Length: 168, dtype: float64
SKIN
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: SKIN, Length: 168, dtype: float64
SM24
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: SM24, Length: 168, dtype: float64
TCHR
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
163    0.0
164    0.0
165    0.0
166    0.0
167    0.0
Name: TCHR, Length: 168, dtype: float64

total_number_of_unique_chemicals:257
Done, it took:0.0 seconds

In [ ]:
# Goal of this box 
# -> (in df_lpr) leave only rows with non 1 and NA MORT

# Running time
# -> 8 seconds for 1 chemical

# 1. Append additional identifier column (Plate_Well value) to lpr and morphology data
# 2. Find rows in morphology data for which MORT end-point is not 1 or NA
# 3. Using Plate_Well values, find corresponding rows in lpr data to filter the data

# (ref)
# '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/LPR/latest/after_merging/tall/bifurcated/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_fixed_merged_full_240_timepoints_cpw_added.csv'
# cpw added here already to save 23 minutes

start_time = time.time()

df_lpr['Chemical_Plate_WELL'] = df_lpr[['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1)
# used to take few minutes, but in 5/9/2021, it takes 23 minutes

display(df_lpr.head())
print("\ndf_lpr.shape:" + str(df_lpr.shape)) #(11,184,240, 7)


df_morph['Chemical_Plate_WELL'] = df_morph[['chemical.id','plate.id', 'well']].apply(lambda x: '_'.join(x.map(str)), axis = 1)
#display(df_morph.head())
#print("df_morph.shape:" + str(df_morph.shape)) # (69395, 29)

df_morpho_nonna_plate_well = df_morph.Chemical_Plate_WELL[~((df_morph.MORT == 1) | (df_morph.MORT.isnull()))]
#display(df_morpho_nonna_plate_well.head())
#print("df_morpho_nonna_plate_well.shape:" + str(df_morpho_nonna_plate_well.shape)) # (57558,)

df_lpr_filtered = df_lpr.loc[df_lpr['Chemical_Plate_WELL'].isin(list(df_morpho_nonna_plate_well.values))]
#display('df_lpr_filtered.head()',df_lpr_filtered.head())
print("df_lpr_filtered.shape:"+str(df_lpr_filtered.shape) + "\n") #(8,309,280, 7)

#display(df_morpho_nonna_plate_well[0:5])
print ("\n")
#display(df_lpr.Chemical_Plate_WELL[0:5])

end_time = time.time()
time_took = str(round((end_time-start_time), 1)) + " seconds"
print ("Done, it took:"+str(time_took)) # 8 seconds took for 1 chemical