In [1]:
import numpy as np
import pandas as pd
import os, time
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
starting_dir = os.getcwd()
print (starting_dir)

/Users/kimd999/research/script_not_in_dropbox/srpAnalytics/analysis/latest/2_analysis

In [15]:
complete_input_file_path = '/Users/kimd999/research/projects/toxicity/per_each_data/phase_I_II/input/behavioral/LPR/tall/344_zf_LPR_data_phase_1_2_2020JUNE25_updated_plate_id_for_TX_tall_full_w_15_endpoints.csv'
df = pd.read_csv(complete_input_file_path, header = 0)

In [16]:
df_163 = df[df['chemical.id']==163]

display(df_163.head())
display(df_163.tail())

output_filename = str(complete_input_file_path[:-4]) + "_163_chemical_id.csv"
df_163.to_csv(output_filename, index=False)

   chemical.id   conc     plate.id well endpoint  value
0          163  0.000  TP967-E9-P1   G6       t3  131.0
1          163  0.064  TP967-E9-P1   H4       t3   25.1
2          163  0.064  TP967-E9-P1   G4       t3    0.0
3          163  0.064  TP967-E9-P1  F10       t3   93.1
4          163  0.064  TP967-E9-P1   F4       t3    1.1

      chemical.id    conc     plate.id well endpoint  value
2875          163  6.4000  TP967-E9-P1   G2      t17    1.6
2876          163  0.0064  TP967-E9-P1  F11      t17    0.0
2877          163  6.4000  TP967-E9-P1   C2      t17    0.0
2878          163  6.4000  TP967-E9-P1   A8      t17   24.0
2879          163  6.4000  TP967-E9-P1   B2      t17   32.0